[2013-02-24 15:48] aligatorjmg opened #1 "resp.Data is null (case id film avatar french : 19995)"
Class TMDbClientMovies.cs

the line : if (resp.Data.Trailers != null) has a exception
position of this line:
 // Patch up data, so that the end user won't notice that we share objects between request-types.
            if (resp.Data.Trailers != null)
                resp.Data.Trailers.Id = resp.Data.Id;

Observation : resp.Data is null

[2013-02-26 21:35] #1 closed, assigned to nobody

[2013-02-26 21:41] LordMike opened #2 "Extend tests: Test all properties for the following tests."
TestCollectionsExtrasNone
TestCompaniesExtrasNone
TestMoviesExtrasNone
TestPersonsExtrasNone

[2013-02-26 21:43] LordMike opened #3 "Extend tests: Finish up the Search tests."
TestSearchCollection
TestSearchPerson
TestSearchList
TestSearchCompany
TestSearchKeyword

[2013-02-26 21:47] LordMike opened #4 "Implement error handling"
Interpret the errors that TMDb produces, and handle them accordingly.
Possibly throw exceptions (and implement Try- methods for 'performance').

[2013-02-26 22:14] jgoetze opened #5 "Windows 8 Metro App"
Hi,
I am building my first Windows 8 Metro App. I have just tried to add the NuGet-Package. Those wont work tho. It works fine for any other application type, but on metro i get the following error:
RestSharp 104.1 couldn´t be installed. No assembly information for .NETCore, Version=v.4.5

Do you have any idea how to fix this?

Greets

[2013-03-06 21:02] aligatorjmg opened #6 "resp.Data is null (case id film avatar french : 19995)"
the origin of the error in the case of research the movie Avatar (Id: 19995) is due to the large value of the field "revenue" (in the response), Your class define  an int, and the int value exceeds. A long type, is a solution.

Here is some lines of the Json file returned by the req:
{

"adult": false,
"backdrop_path": "/5XPPB44RQGfkBrbJxmtdndKz05n.jpg",
"belongs_to_collection": {
"id": 87096,
"na

[2013-03-07 22:00] #6 closed, assigned to LordMike

[2013-03-07 22:00] #5 closed, assigned to LordMike

[2013-03-17 14:18] Naliath opened #8 "Missing imdb id get"
Hio,

Nice implementation of the API, I'm just porting my application over from V2 to your V3 implementation.

Could you possibly add an extra overload to the GetMovie method allowing us to provide a string (imdbID)?
It works exactly like the existing GetMovie method call, the API is smart enough to see that you are providing an imdb id and not an internal id.

Thanks!

imdb call example: http://a

[2013-05-16 18:29] LordMike opened #10 "Searching for Star Trek renders 0 results"

[2013-05-16 18:42] #10 closed, assigned to nobody

[2013-06-30 18:34] patpowerman opened #11 "Howto change language for movie description?"
Could you please tell us, how we can get the results from themoviedb.org in other languages then english?

[2013-07-02 15:59] patpowerman opened #12 "Howto get backdrop or poster pictures?"
Could you please provide an example howto get a picture from TMDb?

I get back an example value like "/6z0X6AAebEx4SOMikbqHvenFUN2.jpg" for PosterPath, but how can I create the needed full path to download this picture?

[2013-07-04 12:41] patpowerman opened #13 "Empty Releasedate returns #12:00:00 AM# instead of nothing or null or """
Could you please check, why you return the value #12:00:00 AM# as Object.Movies.Movie.Releasedate if this date is not available?

You can try with this TMDB-ID: 76162 or Original-Title "Stephen Fry In America - New World"

[2013-07-20 22:08] akurdas opened #14 "SearchContainer and Movie"
Hi
I'm trying to search the movies by NAME  using ;
SearchContainer<SearchMovie> results = client.SearchMovie("movie name");

however when I check the returned result, I couldn't seem to find the "movie overview".

On the other hand if I search it by  "id", Movie class has the "movie overview" and a lot more.

Movie movie = client.GetMovie(ID);
string test = movie.overview;

The only solution I fo

[2013-07-26 06:41] #13 closed, assigned to nobody

[2013-07-26 06:41] #14 closed, assigned to nobody

[2013-07-26 06:41] #11 closed, assigned to nobody

[2013-07-26 06:41] #12 closed, assigned to nobody

[2013-08-04 11:15] #8 closed, assigned to nobody

[2013-09-25 01:47] viperguynaz opened #17 "String was not recognized as a valid DateTime."
getting the following error with request
model.Person = MovieDataClient.GetPerson(18918, extraMethods:
                    Enum.GetValues(typeof (PersonMethods))
                        .OfType<PersonMethods>()
                        .Aggregate((methods, personMethods) => personMethods | methods));
--------------STACK --------------------------
   at TMDbLib.TMDbRestClient.Execute[T](IRestRequest

[2013-09-29 13:39] LordMike opened #19 "IMDB id's don't return SimilarMovies, TMDb counterparts do."
Movie item1 = client.GetMovie("tt1979320", MovieMethods.SimilarMovies);
Movie item2 = client.GetMovie(96721, MovieMethods.SimilarMovies);

The above code will have the SimilarMovies property populated when using TMDb Id's, but not while using IMDB Id's

[2013-11-06 21:03] rboy1 opened #20 "Support for TV episodes and serials"
Do you have support for TV episodes and serial on TMBD? If not any plans to support them?

[2013-11-07 15:12] rboy1 opened #21 "Documentation for API's and a guide to get started"
By far of all the librariries for tmdb .net I've seen that you guys are doing a great job. specifically because you're responsive and are taking a genuine interest in making this widely available and easy to use and keeping it upto date. I'll be happy to spread the word (and make a donation if you guys accept it).

I would really love to see some documentation of the library API's, what the API's

[2013-11-07 16:05] rboy1 opened #22 "TMDBLib does not have a strong name"
When I try to compile the project using the nuget downloaded reference assembly I get an error saying referenced assembly does not have a strong name. I don't face this issue with other nuget reference assemblies I download

[2013-11-07 17:42] #22 closed, assigned to LordMike

[2013-11-07 18:06] #3 closed, assigned to LordMike

[2013-11-07 19:05] rboy1 opened #23 "Config"
I love the fact that you have a get imageurl option which is helpful (again the lack of documentation what options to pass to size  made me go back to imdb), but the first I ran into an exception and tehn realized after trying to debug it that I needed to call GetConfig.

Now my question - why should I have to call GetConfig? Logically when I create a new client it should automatically call get co

[2013-11-07 19:25] #23 closed, assigned to nobody

[2013-11-09 14:34] Naliath opened #24 "Add additional tests to the Discovery API feature"
Currently only a basic test is provided for this functionality. More extensive tests should be written to test all of the parameters

[2013-11-09 14:41] Naliath opened #25 "Add the TMDb Authentication Namespace"

[2013-11-09 14:44] Naliath opened #26 "Add Account namespace"
Read Actions
- [x] /3/account
- [x] /3/account/{id}/lists
- [x] /3/account/{id}/favorite_movies
- [x] /3/account/{id}/rated_movies
- [x] /3/account/{id}/movie_watchlist

Write Actions
- [x] /3/account/{id}/favorite
- [x] /3/account/{id}/movie_watchlist

[2013-11-10 13:07] Naliath opened #27 "Expand the lists namespace"
Add the following missing lists actions:
- [x] /3/list/{id}/item_status
- [x] /3/list
- [x] /3/list/{id}/add_item
- [x] /3/list/{id}/remove_item
- [x] /3/list/{id}

[2013-11-10 13:08] #25 closed, assigned to Naliath

[2013-11-10 23:14] #27 closed, assigned to Naliath

[2013-11-10 23:31] Naliath opened #28 "Add jobs namespace"
- [x] /3/job/list

[2013-11-10 23:32] Naliath opened #29 "Add Review namespace"
- [x] /3/review/{id}

Also add related method on movies
- [x] /3/movie/{id}/reviews

[2013-11-10 23:32] Naliath opened #30 "Add missing person methods"
- [x] /3/person/latest
- [x] /3/person/popular

[2013-11-10 23:33] Naliath opened #31 "Add missing movie methods"
- [x] /3/movie/{id}/account_states
- [x] /3/movie/{id}/rating

These both require the newly implemented session id's

[2013-11-12 13:21] #26 closed, assigned to Naliath

[2013-11-14 00:20] LordMike opened #32 "A few comments on recent code changes"
Token / Guest Session
    Expire at should be UTC (always work in UTC - much easier for everyone)

Tests expecting exceptions
    Always assert fail. Otherwise if no exception is thrown, the test succeeds. (already done)

[2013-11-14 10:47] #32 closed, assigned to Naliath

[2013-11-14 11:51] #31 closed, assigned to Naliath

[2013-12-02 16:33] Naliath opened #34 "Add new Find namespace to enable searching based on external Id"
http://docs.themoviedb.apiary.io/#find

[2013-12-13 16:29] LordMike opened #35 "Reported issue by mail to me"
First of all let me thank you for all the great software you have made available to the general public! It is much appreciated! I am sorry to bother you but theMovieDb just pushed out a new URL that broke the TMDbLib.dll that you created and as I am not a C# programmer not sure where to start to fix. Do you have any plans to update or is there a possibility that you could send me a ‘patch’ or fix?

[2013-12-13 19:17] #35 closed, assigned to Naliath

[2013-12-27 10:15] Naliath opened #36 "Add grouped season fetching"
Based on the following comment in the forums we could add something that wraps this functionality.

[2014-01-19 10:34] drake7707 opened #37 "Input string was not in a correct format"
Use:

var tvshow = client.GetTvShow(1399);

to replicate.

I haven't determined which property it is that's causing it, but it's an integer (stacktrace mentions Convert.ToInt32).

[2014-03-21 12:09] Naliath opened #38 "Implement rate limiting"
Add an automatic request throttling setting and if not enabled throw an exception the utilizing application can use to manange it themself
.
ref:http://www.themoviedb.org/talk/5317af69c3a3685c4a0003b1

[2014-03-23 17:23] alainpimentel opened #39 "Search by TV title"
Do you have support to search TV show by title. I noticed that the TMDB Api supports that, but I couldn't find any method in your wrapper.

Great job BTW!

[2014-03-23 18:33] #39 closed, assigned to nobody

[2014-04-06 18:25] alainpimentel opened #40 "Search TV Show by ID"
I am searching for a TV show by Title, then I select a show and search it by the ID it returned. For some shows this works just fine, but for others it doesn't.

For example, if I search for Game of Thrones I get the ID 1399. And when I search it by this ID I just get the error "Input string was not in a correct format."

This only happens with certain shows. Other shows like Lost and Friends work

[2014-04-06 18:50] #40 closed, assigned to nobody

[2014-04-06 19:03] #37 closed, assigned to Naliath

[2014-04-06 19:06] Naliath opened #41 "Discover Error with sort by release date"
danielvelasquez commented 3 days ago
Hello, I can't seem to use the Discover functionality, am I missing something? there is no Discover method in the client class...
Naliath
 Collaborator
Naliath commented 3 days ago
Please use the source from here, the nuget package is out of date and will not be updated until the movie db tvshow api comes out of beta
danielvelasquez

danielvelasquez commented 2

[2014-04-18 20:57] #17 closed, assigned to nobody

[2014-04-18 23:51] rboy1 opened #42 "TvShow missing data"
When one calls client.GetTvShow and one looks at the Seasons and Seasons.Episodes properties, it'll all nulls. As in I see 10 season objects, but full of nulls.

should it get and automatically populate those?

[2014-04-19 13:54] LordMike opened #43 "Split TvSeason object in two"
We might need a `TvSeasonLight` object which only contains the information given by the `GetTvShow()` call. The only information given is: `AirDate`, `Season` and `PosterPath`.

The `GetTvSeason()` method returns a `TvSeason` object, which contains all the fields populated (as the API provides the data).

See #42 for core issue.

[2014-04-19 13:54] #42 closed, assigned to nobody

[2014-05-13 09:21] DynamicDave opened #44 "Portable Class Library"
Dear LordMike,

Just an idea, but isn't it possible to convert the (excellent) TMDbLib project to a Portable Class Library (PCL). You would have to drop the RestSharp reference, but a PCL can make use of the ASP.NET Web API client to collect and parse JSON data.

Like I said... It's just an idea, but after the conversion the TMDbLib can be referenced by another PCL and be used in several project t

[2014-05-14 20:08] Naliath opened #45 "Add TVShow, Season and episode changes calls"
- [x] /3/tv/changes
- [ ] /3/tv/{id}/changes
- [ ] /3/tv/season/{id}/changes
- [ ] /3/tv/episode/{id}/changes

[2014-07-16 17:41] yuyuki opened #47 "Getting image from Uri"
Hi,

As I say, It would be great to retrieve image from Uri.

If you want I can help you. I can make a pull request and if it's good for you, you can integrate my job to yours.

I will make Unit Test of course.

Thank you,

[2014-08-23 19:03] wizengamot opened #48 "Constructor for TMDbClient allows invalid URL format"
When using this library retrieved from NUGET yesterday I found that when constructing the library with an http:// in the URL parameter that it allowed this, however when calling the getConfig with this parameter the call failed.

The root cause was that I had prepended http:// to my URL parameter.

My suggestion is to add parameter verification to the base url parameter.  The API Key cannot be ver

[2014-08-23 21:48] wizengamot opened #49 "Added Support for regular User sessions (code below)"
I did not find code for authentication of regular user sessions, so I added it.

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace TMDbLib.Objects.Authentication
{
    public class TokenLight
    {
        public string RequestToken { get; set; }
        public bool Success { get; set; }
    }
}

and

 public TokenLight AuthenticationValidateWithLogin

[2014-08-24 12:59] #49 closed, assigned to nobody

[2014-08-24 13:10] #48 closed, assigned to nobody

[2014-08-26 17:09] #47 closed, assigned to nobody

[2014-09-05 13:10] RussellKirkwood opened #50 "Search by Recent Deaths"
Is there a way to search tmdb by recent deaths? As an example, get a collection of people who have passed away in the last week.

[2014-09-16 18:19] #30 closed, assigned to nobody

[2014-09-18 17:27] #29 closed, assigned to nobody

[2014-09-29 14:37] #50 closed, assigned to nobody

[2014-12-09 09:13] #41 closed, assigned to nobody

[2014-12-15 12:47] #28 closed, assigned to nobody

[2014-12-20 21:22] Dreamcooled opened #56 "GetTvEpisode not returning any images"
While GetTvShow and GetTvSeason are perfectly fine, GetTvEpisode is not returning any images when passing TvEpisodeMethods.Images as argument.

Corresponding API Page: http://docs.themoviedb.apiary.io/#reference/tv-episodes/tvidseasonseasonnumberepisodeepisodenumber

I think the problem is that the API response contains only a "stills" key for the images and no "backdrops" and "posters" keys.

TMd

[2015-01-08 14:38] Duder29 opened #57 "TV Show content_ratings"
Maybe I am missing something, but I think we are missing /tv/{id}/content_ratings.
I ultimately want the tv shows rating (ex. TV-MA)
Do we need another MovieMethod?
Thank you for your work!

[2015-01-08 14:52] Naliath commented on #57
This is something that seems relativly new. It's going to be an additional method that needs to be added to the tv show this. Shouldn't be too much work, I'll see if I can make some time for it tomorrow or in the weekend.

[2015-01-10 14:54] Naliath commented on #57
added the new call and a few others to the wrapper

[2015-01-10 14:54] #57 closed

[2015-01-12 13:49] Duder29 commented on #57
Thank you very much!

[2015-03-08 19:20] nCubed opened #58 "TestApplication has an API Key embedded in the source."
FYI: TestApplication.Program has someone's API key embedded. Not sure if you meant to expose this key to the public or not.

[2015-03-08 19:53] Naliath commented on #58
It's ok it's a test key we requested especially for running our unit tests.

[2015-03-08 19:53] #58 closed

[2015-03-22 21:31] scboffspring opened #59 "RestSharp invalid version"
Hi !

In the last release, apparently the RestSharp dependency does not specify which version to use. RestSharp was updated, and therefore I have an error :

 Could not load file or assembly 'RestSharp, Version=104.4.0.0, Culture=neutral, PublicKeyToken=null'

I would recomment either to specify the verison in the nuspec file, or setting the "Specific version" settings to false

Regards,

[2015-03-29 10:20] yte424 opened #61 "Trailer in Differnt languges"
Hi,
I have an issue with getting trailer in different languages. I tried

    client.DefaultLanguage = "de";
    var trailers = client.GetMovieTrailers(Id);

But I am only getting  the English language trailer.

The Trailer itself are empty when requesting the movie in another language via

    client.DefaultLanguage = "de";
    Movie myMovie = client.GetMovie(Id);

Do I do something wrong? I look

[2015-03-30 11:06] LordMike commented on #61
Are you certain the movie in question has a german-specific trailer?
Also, if you wish to receive more data using the GetMovie call, than just the basic info, you need to add another parameter. The parameter should specify that you wish to receive Trailer data.

[2015-03-30 11:06] LordMike commented on #59
I should really make another Nuget package soon.

[2015-03-30 12:00] #59 closed

[2015-03-30 12:11] LordMike commented on #56
I'm unsure on the original intent, as @Naliath coded up this piece.
However, I've altered the TvEpisode object a bit to account for the StillImages.

[2015-03-31 06:15] yte424 commented on #61
Thanks, now it works. I am using parameters for getting more info. Sorry, for not checking more deeply the api.

[2015-03-31 06:15] #61 closed

[2015-03-31 11:17] LordMike commented on #61
:)

[2015-04-26 10:48] scboffspring opened #63 "Async support"
Hi !

Would be great if it was possible to support async request with the client, or having a second TMDBClient that does async handling.

[2015-04-26 10:59] LordMike commented on #63
I'm not personally great at providing Async stuff, but I guess we would simply have to relay the call to the Async versions in Restsharp... (which I strongly assume has Async methods)... Would it be enough to return `Task<T>` or should we utilize the `async` keyword?

Luckily most of the library should be simple to port to this form.

[2015-04-26 12:21] scboffspring commented on #63
Apparently Restsharp provides GetAsync and GetAsync<T> as expected.

I can mayb have a look soon to implement it. I will keep you updated.

[2015-04-26 13:18] LordMike commented on #63
Either that or I dedicate a few hours later today ;).

I wonder if we could do the sync-methods as:
DoAsync().Result

I'm unsure f.ex. How exceptions propagate....

-----Original Message-----
From: "Florian Zysset" <notifications@github.com>
Sent: ‎26-‎04-‎2015 14:21
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Cc: "Michael Bisbjerg" <michael@mbwarez.dk>
Subject: Re: [TMDbLib] Async support

[2015-04-26 14:14] scboffspring commented on #63
Task.Result may create deadlocks (see http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html)

I suppose the best way is to use the solution available here : http://stackoverflow.com/questions/5095183/how-would-i-run-an-async-taskt-method-synchronously

But that means exception as UserSessionException that you have, are in the inner exception. But you can extract them to return to the

[2015-04-26 18:33] LordMike commented on #63
@scboffspring, see the `async` branch I just created - commit b06a1bd9a12e80035b103389fec110ef5c20643a

[2015-04-26 18:38] LordMike commented on #63
I adjusted the `TMDbClientTvSeasons.cs` client, as well as the `ClientTvSeasonTests.cs` file - so look at how it seems and see if that would do.

I imagine that all methods would be Async, and then the end-user would call .Result or similar things to make the methods synchronous.

One caveat though - this requires `.Net 4.5`

[2015-04-26 18:46] LordMike commented on #63
@Naliath could also comment on this. If we do this, there'd probably need to be a new 1.0 release to cover the breaking changes.

[2015-04-26 22:17] Naliath commented on #63
hey guys, yea async would be fine just make sure to mark every await call with .ConfigureAwait(false) else you will get shit with using .Result. From experience issues with async are a pain to fix. should not be a big problem for us. Do remember that when you use ConfigureAwait(false) from that point forward you do no have access to the current context (since it will continue on a different thread

[2015-05-02 01:09] joebob49 opened #64 "Missing original_language /movie/{id}"
IMDB's API get results have it as shown in JSON as:

"imdb_id": "tt0137523",
  "original_language": "en",
  "original_title": "Fight Club"

Any change it can be added to the wrapper available from Nuget. I don't code in C or I'd have a go myself. I'm a bit old school and code in VB/VB.net. I looked at your source movie objects and see not reference to "original_language". Did I miss something?
thx

[2015-05-02 14:30] LordMike commented on #64
You seem to be correct. Looking through the Apiary docs I can see the two extra fields you mention (language and title). It should be as simple as adding them to the Movie object.

[2015-05-02 14:54] LordMike commented on #64
I found we missed another field "Video", albeit I have no idea what it means.
It's been committed.

[2015-05-02 14:54] #64 closed

[2015-05-02 18:00] LordMike commented on #63
@Naliath should we name the methods Async and make Sync variants?

I've converted the entire library to use `async`, and adjusted the tests accordingly. There are some tests failing, but from what I can see they shouldn't have worked in the first place based on the output .. so I need to confirm what's happening ...

Also - at what level should we add the `ConfigureAwait` call?

@scboffspring can

[2015-05-02 18:20] #56 closed

[2015-05-02 19:45] joebob49 opened #65 "I found we missed another field "Video" [/movie/id]"
Hi Lordmike;

I put a request it at TMDB for a explanation of this response item. I'll let you know if and what I get an answer from Travis et al (and others).

Regards; Joe

[2015-05-02 20:34] LordMike commented on #65
Related: #64

[2015-05-02 21:29] scboffspring commented on #63
Hi @LordMike,

I suppose for some users that have the Sync version at the moment, it would be great to keep the same version for them. Basically you have two choices :
1) Have an async client and the existing client side-by-side.
2) Have only one client, with each method having it's async one.

Personnaly I'd opt for option number 2. @Naliath advice on that ?

Regarding the ConfigureAwait, I suppo

[2015-05-02 21:41] joebob49 commented on #65
Hi LordMike;

I found some more missing items in /Discovery parameters. I'll review these and post my findings here. Should be today sometime.
Regards; Joe

[2015-05-02 23:14] joebob49 commented on #65
Lordmike;

looks like a number of changes in TMDB's /discovery There appears to be a number of new?  parameter options yours does not encompass. I have not checked your expected responses against theirs but I would surmise that these may have changed also due to the new parameters (i.e.  "with_cast").

regards; Joe

[2015-05-03 03:22] joebob49 commented on #65
Hi Lordmike;

Found what TMDB means by video(s). This sure looks like a reference to where or not they have any trailers, teasers, etc. for the movie.

Joe

[2015-05-03 06:56] Naliath commented on #65
Missing parameters in the discovery feature are not that surprising, I just quickly added that in and at the time the api wasn't final yet.

[2015-05-03 07:07] Naliath commented on #63
As for where to place the ConfigureAwait the answer is easy, everywhere. Else you will end up with one call that doesn't have it causing some mysterious bug that has you looking for days where the problem is comming from. Besides it does no harm as long as you don't need the calling thread context (it's also the offical recommendation).

quote from the referenced article also confirms this "A good

[2015-05-03 15:37] joebob49 commented on #65
Hi Naliath;

Thanks for the info. Any Changes these changes may be showing up in the Nuget release anytime soon? Travis's immediate an future API changes not withstanding. It's holding up some filtering options I'm working on. As I don't code in C I have not idea how to recompile the wrapper.

FYI - I'm coding a personal desktop app in vb/vb.net which is coming along nicely. It has some code which

[2015-05-03 16:41] arvazzz opened #66 "Movie images"
Hello, i have been using your API for a while know and i can't solve 1 problem.
How can i get images from certain movie?
TMDbLib.Objects.Movies.Movie oMDetails = client.GetMovie(mID);
public System.Collections.Generic.List<TMDbLib.Objects.General.ImageData> ImagesPosters { get; set; }
magesPosters = oMDetails.Images.Posters;

I have tried ....General.Image data type and it still did not work. I am

[2015-05-03 16:47] joebob49 commented on #65
Hi Guys:

I have the true answer to "videos: true/false":

"The Video property is a relatively new field. It "helps us differentiate types of content that aren't truly movies". Some examples are: compilation DVDs, "best of" DVDs, fitness videos, compilation of children's programming, etc. This is an example: SpongeBob Squarepants - Christmas . It's a compilation of Christmas themed episodes from t

[2015-05-03 17:10] arvazzz commented on #66
Alright, i found a workaround by creating this
TMDbLib.Objects.General.ImagesWithId pim = client.GetMovieImages(id);
Thanks anyway by creating this great api

[2015-05-03 17:11] LordMike commented on #66
I can concur on the documentation part. But iirc there should be an overload to GetMovie that allows you to specify extra types of data that you want.

It should get you the data you need.

-----Original Message-----
From: "arvazzz" <notifications@github.com>
Sent: ‎03-‎05-‎2015 18:41
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Subject: [TMDbLib] Movie images (#66)

Hello, i have been usin

[2015-05-03 17:31] #65 closed

[2015-05-03 17:58] arvazzz commented on #66
Another question, how do i use TMDbLib.Objects.General.Crew?

[2015-05-03 18:15] arvazzz commented on #66
Could you give a short example how to get movie credits?

[2015-05-03 19:29] LordMike commented on #66
There is an overload which accepts a `MovieMethods` enum which is also a `flag` type. So you can combine multiple requests in one. See below.

    client.GetMovie(movieId, MovieMethods.Images | MovieMethods.Credits)

This will fill out the respective fields which used to be `null`.

[2015-05-03 19:40] joebob49 commented on #66
Here's my snippet which does the job in VB.

Lookup/Update/Insert do as expected to two MYSQL database tables. One of the Actor details and the other to which connects actor(s) to movie(s).

        '' CAST
        Dim MovieCast As TMDbLib.Objects.Movies.Credits = URLResponse.GetMovieCredits(Movie.Id)
        If Not IsNothing(MovieCast) Then
          For Each CastMemeber In MovieCast.Cast

[2015-05-03 19:48] LordMike commented on #63
@Naliath see the latest commit. That should cover the `ConfigureAwait` requirement.

[2015-05-03 20:10] arvazzz commented on #66
Thanks, got credits/images/keyword/trailers working but now i can't figure out how to work with TMdbLib.Objects.Movie.Country

[2015-05-03 21:38] LordMike commented on #66
I'm unsure about the question. The `Country` object is a single country, identified by its [`ISO 3166-1`](https://en.wikipedia.org/wiki/ISO_3166-1) code..

From the `Movie` object, it is found through a `Releases` collection.

[2015-05-04 20:47] LordMike commented on #65
@joebob49 see https://www.nuget.org/packages/TMDbLib/0.8.1-alpha

[2015-05-09 04:26] javaman63 opened #67 "Overview in spanish language"
Hey this is a GREAT api lib!

How i can get an overview or any other data from the api in spanish language?

[2015-05-10 13:51] LordMike commented on #67
Many of the methods allow you to specify languages. Is there a specific function you're in doubt about?
Also, do note that not all items at TMDb are available in Spanish.

[2015-05-10 14:34] javaman63 commented on #67
Hey mike! thanx for answer!
Yeah, that's my problem -> "do note that not all items at TMDb are available in Spanish.".

I've trying with the getmovie method with "spa" as a language and the overview property keep it coming null.
So the problem is with the TMDB and not with your OUTSTANDING api lib!

[2015-05-10 19:23] LordMike commented on #67
I'm unsure of the `spa` language. The Language codes are afaik. [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166-1), in which `Spain` is listed as `es`

[2015-05-15 06:08] joebob49 opened #68 "Error: People.person (birthday as year only)"
Lordmike;

I found a very early TMDB actor record (231) which only contained the year in the birthday field. People.person object throw a datetime error and nothing in the resulting object.  (I would have expected this to be a "date" type not a "datetime" type BTW).  I changed TMDB's record to the whole date YYYY-MM-DD resulting in proper response results. Any chance this object can be adjusted to

[2015-05-15 06:20] joebob49 commented on #68
Lordmike;

Found other culprits like the above at TMDB records 702, 766, 833. I will not edit these TMDB records for now so you can have the test hits.

Joe

[2015-05-15 19:11] BO45 opened #69 "TmDbLib complains that v104.4.0.0 of RestSharp is not installed"
This is with version 0.8.1-alpha and latest stable.

[2015-05-20 03:08] joelp53 opened #70 "MovieMethods.Casts does not exist?"
Trying out your API, so far I am very impressed.
Looking through everything you have avilable, I notice you are missing Casts.
Not sure if a big or if I am doing something wrong.

I have all relevent libaries loaded and I am currently using the stable version.
Installed it via NuGet as you sugest.

[2015-05-20 12:48] Naliath commented on #70
That's quite possible, it might have been added 'recently'. You  do have the credits specifier that might get you what you need. We do have a few outstanding methods around people that have not been implemented.

[2015-05-20 15:08] LordMike commented on #38
The feature is now live.

https://www.themoviedb.org/talk/5317af69c3a3685c4a0003b1?page=1

[2015-05-20 15:54] LordMike commented on #69
How does one fix this (and other version-related things)?

[2015-05-26 06:44] joebob49 opened #71 ".GetMovieReleases(Movie.Id) missing "primary""
Lordmike;

Thanks for the speedy updates to missing movie items and post to nuget. Works just fine thx!

Found a missing item in getmoviereleases method. Nothing for boolean "Primary". This is the 'first release country' record flag.

Pls do have a look see.

Thx Joe

[2015-05-28 16:01] DanCooper opened #72 "Missing: Overview in GetCollection"
Hi

please add "Overview" to Collection class.
I think it's not described in the documentation but it works like Overview in GetMovie class.

[2015-05-28 16:03] DanCooper opened #73 "Sometime no value for TMDBClient.Config.Images.BaseUrl"
Sometimes the client has no BaseUrl value, but the client works and scraping is possible.

[2015-05-28 16:13] DanCooper opened #74 "DefaultLanguage does not work in GetTrailers(tmdbID) and GetCollection(tmdbID)"
HI

i always create a new API object in this way:
_TMDBApi = New TMDbLib.Client.TMDbClient(Settings.ApiKey)
_TMDBApi.GetConfig()
_TMDBApi.DefaultLanguage = Settings.PrefLanguage

It works with:
_TMDBApi.GetMovie(tmdbID)
_TMDBApi.GetCollection(tmdbID, _MySettings.PrefLanguage)
_TMDBApi.GetMovie(tmdbID, TMDbLib.Objects.Movies.MovieMethods.Trailers).Trailers

But it does not work (always english resu

[2015-05-29 11:27] DanCooper commented on #73
should be fixed in my Pull Request #75

[2015-05-29 11:34] Naliath commented on #74
Bug: quick look into the overloads leads me to this => return GetCollection(collectionId, null, extraMethods);

[2015-05-29 11:38] Naliath commented on #74
see fix https://github.com/LordMike/TMDbLib/commit/5f14cc7d895060f7e5d3388aad7e34ee03522cff
Couldn't find the GetTrailers thing you speak off, just submit a pull request for it if you locate it

[2015-05-29 12:04] Naliath commented on #63
late reply, but yea looks good :+1:

[2015-05-29 12:10] Naliath commented on #71
https://github.com/LordMike/TMDbLib/commit/5f14cc7d895060f7e5d3388aad7e34ee03522cff

[2015-05-29 12:10] #71 closed

[2015-05-29 12:11] DanCooper commented on #74
Thank you for fixing.

it's the "public Trailers GetMovieTrailers(int movieId)" thing.

[2015-05-29 12:18] Naliath commented on #72
https://github.com/LordMike/TMDbLib/commit/cc2b72411fbbe5ed511ac3fa27092c324a2d188c

Good spotting it's not in the apiary

[2015-05-29 12:18] #72 closed

[2015-05-29 12:24] Naliath commented on #74
That impacts all other sub methods as well. I think we can just assume that if it's null we need to set the default language and if that is not set it will just be ignored. Won't do that fix from my browser, need to be able to run the tests. I'll get to it when I get home later today.

[2015-05-29 12:47] Naliath commented on #69
<dependency id="RestSharp" version="104.4.0.0" />

would fix this, you can also define min versions, allow minor version changes, etc..
https://docs.nuget.org/create/versioning

[2015-05-29 15:26] #38 closed

[2015-05-29 15:27] Naliath commented on #38
https://github.com/LordMike/TMDbLib/commit/ea8c2e1603fd98baa6bd887fe01405bcd884c094

[2015-05-30 14:55] LordMike commented on #69
@Naliath that's in the Nuget package, right?

[2015-05-30 14:56] LordMike commented on #67
Closing this.

[2015-05-30 14:56] #67 closed

[2015-05-30 15:12] LordMike commented on #70
Wrote to TMDb here: https://www.themoviedb.org/talk/5569d327c3a368774e0019fc

Did some investigating, and it seems to be identical with Credits. Will wait on reply and branch of my "fix" ... :).

[2015-05-30 15:23] LordMike commented on #38
Added test 6b47d825e34c7bc6b61c7b201d768bd2fb5149f1

[2015-05-30 15:23] LordMike commented on #66
Closing this.

[2015-05-30 15:23] #66 closed

[2015-05-30 15:29] LordMike commented on #74
I see. So in theory, we should always set DefaultLanguage at the lowest levels, if the provided language is `null`?

One such place: https://github.com/LordMike/TMDbLib/blob/master/TMDbLib/Client/TMDbClientMovies.cs#L111

[2015-05-30 15:30] LordMike commented on #63
Just updated the `async` branch with the latest commits from `master`. I should probably push this to a Nuget Package so it can be tested.

[2015-05-30 15:33] DanCooper commented on #74
I would say YES.

[2015-05-30 15:45] javaman63 opened #76 "GetMovie Null..why?"
Hi Mike! For some movies, the method GetMovie return a object with null propertys
![captura de pantalla 2015-05-30 12 41 31](https://cloud.githubusercontent.com/assets/8239681/7898027/8dc4f8f8-06c9-11e5-865d-008fa83e7019.png)
Can you tell me why or help me?

Thanx!

[2015-05-30 15:47] LordMike commented on #76
Hi,

The GetMovie method is very generic and will suit a lot of situations. You already add the Images method, but you can add many more. You could f.ex. do:

`Movie movie = client.GetMovie(movieId, MovieMethods.Images | MovieMethods.Credits);`

Regards,
Mike.

[2015-05-30 15:55] LordMike commented on #70
@joelp53 TMDb have discontinued usage of the `casts` method. So it will not be implemented.
Use `credits` instead.

[2015-05-30 15:55] #70 closed

[2015-05-30 15:56] javaman63 commented on #76
Yes! but for some movies...return nothing, but when you search in the webpage, the movie is there with images, cast, credits, etc..thats my question...

Ex:
for IMDBID: "tt1823672"..returns everything OK
     IMDBID: "tt304141"..returns null

why?

[2015-05-30 15:58] LordMike commented on #76
Perhaps the data isn't there. IMDb id's don't always work as expected.

See the links below:
https://www.themoviedb.org/search?query=tt1823672
https://www.themoviedb.org/search?query=tt304141

[2015-05-30 16:01] javaman63 commented on #76
AHH ok!!! Perfect! Thank's for helping me!

Close this if you want!

[2015-05-30 16:09] Naliath commented on #69
in the nuspec file yea

[2015-05-30 16:18] #76 closed

[2015-05-30 16:46] Naliath commented on #74
This should fix it: https://github.com/LordMike/TMDbLib/commit/255b7847b8d1408cdcac1d56e2e51e5217b0f269

[2015-05-30 16:46] #74 closed

[2015-05-30 16:48] LordMike commented on #74
Was just working on that, spotted some issues in the tests though so went out to fix that.. Will check up on your changes @Naliath.

[2015-05-30 16:53] LordMike commented on #74
Seems good :+1:

[2015-05-30 17:02] LordMike commented on #69
It's weird. But I've published `0.8.2-alpha` to Nuget.

[2015-05-30 17:31] Naliath commented on #73
I think this should be fixed with that other checkin about the rate limiting? Let me know if somehow it's not related

[2015-05-30 17:31] #73 closed

[2015-05-30 17:35] Naliath commented on #68
Changing this would be possible but it would either leaving the field as a string or doing some custom deserialization for this. In my opinion the use case is so small that I think it's not worth the exception. In all honesty the API should be sending back the correct response format.

[2015-05-30 17:41] Naliath commented on #69
this should make it so that any restsharp version from that version on is supported by us

[2015-05-30 18:58] LordMike commented on #68
I'll poke TMDb about this.

[2015-05-30 21:03] LordMike commented on #69
The point is that it was already listed as dependency, just without any version... but let's see how this fares.

[2015-05-30 21:59] LordMike commented on #63
I'm having trouble implementing the retry logic and the rate limit handling for the async method. We currently overload a RestSharp client method (`Execute`), which is not called on async methods. Instead `ExecuteTaskAsync` is called - and it has a different design.

If someone could give me pointers, or implement that part, it'd be awesome.

Stub is here: 6f18f5cf927397486a8dd94c1a68c6bee982280d

[2015-05-31 00:01] Paszt commented on #68
There are currently about 2,194 people with either an incomplete birthday, day of death, or both. By incomplete I mean only the year.  And it's possible to add more dates with just the year.  The expected format is iso-8601 YYYY(-MM-DD), parenthesis around the month and day mean they are optional, of course.

In my opinion, this is how the database should be designed.  With historical data, the ex

[2015-05-31 08:00] Naliath commented on #68
this is a bit of a pain. A .NET date has to have all criteria so this basicly means we can't parse it a such... It is an issue because you loose a part of date localization. ex here in Belgium and much of europe we write a date dd/mm/yyyy not mm/dd/yyyy. But as it stands the only easy way to fix this is to have the field as a string. Else we have to start with dual fields, a nullable date field an

[2015-05-31 11:12] LordMike commented on #68
How about a string field and a DateTime conversion helper?
The helper could either be an extension method or a method directly on the class(es), which would then do hacks (such as setting month and day to 1 for dates with only years..).

[2015-05-31 11:15] LordMike commented on #68
We could always go all-crazy and have a special TMDbDate object which can be either a year or a full date. We'd then overload comparisons so that it's easy to use when comparing with other DateTime objects..

When we only have the year, comparions would go like this (we assume that having only a year means the entire year is covered. Luckily, C# makes it easy to overload operators :).
new TMDbDate

[2015-05-31 12:52] LordMike commented on #68
@Naliath, @joebob49, @Paszt .. please comment on the previous commit on the branch `issue-68` (f9d1a5e792ab9e66ccab119aaa8b3064100fe708). I've linked up `Person` to the new Date type. The tests ensure that comparisons work as expected (as I detailed in my previous comment).

[2015-05-31 13:22] Naliath commented on #63
just did a checkin, not sure where it ened up. It's like my branch but still linked to yours? Not a regular git user so not sure what exactly I did there.

[2015-05-31 13:30] LordMike commented on #63
It ended here: https://github.com/LordMike/TMDbLib/commits/async
So you did that part correct :).

[2015-05-31 13:31] Naliath commented on #63
add that I couldn't just connect to your branch and had to create a new one. When I tried to remove mine it removed yours so I just restored it.

[2015-05-31 13:35] LordMike commented on #63
Oddity. Anyhows, at least the RateLimit test works now.
b785998d2b4a76bfd06c6e65c7dd779842a1e6c6

[2015-05-31 13:38] Naliath commented on #63
yea task based programming throws those when ever you are not using the regular await syntax. It's a real bitch if you ask me. It's either you go all async or not at all for me

[2015-05-31 14:35] LordMike commented on #63
@Naliath your retry method seems to work really well. There are only very few tests that fail (some I fixed).. I'll probably look a little more into it.

[2015-05-31 15:03] LordMike commented on #68
It could seem like the faulty dates for the `person` objects are being wiped. The code I made would therefore not apply to Person (at least for birth- and deathdates).

But it should be possible to use the concept elsewhere, where exact dates are not guaranteed.

[2015-05-31 15:06] joebob49 commented on #68
Just posted this at TMDB

Mike and Travis;

I setup two fields in my database, one for the movie_ year (integer) only in the movie record and the other for the release date (date) in the movie_releases record.Then I can search/etc. as needed. This seems to be a reasonable solution as I can validate on (integer) (range) or (date) as required. This would be consistent with "original language" and "s

[2015-05-31 15:13] Naliath commented on #68
@LordMike I'm not a big fan of a custom type in this situation but if it works, it works. I think it's key to just keep it simple for average users to consume the api.

@joebob49 While I get the argument of storing it a separate fields (mainframe style) it makes consumption of the api less user friendly. Then again the approach they took in making this a less than normal datatype. It's a date, but

[2015-05-31 15:36] joebob49 commented on #68
Mike, Naliath. et al;

I looked at your new code. Sorry to say but this is not really "fixing" any of the date problems. The solution is really with TMDB using a more refined data structure. Naliath; An easy fix is really never the best solution as it will come back and bite your sooner or later. Nore is "less friendly". When there is a job to be done use the best solution not the cheapest/easiest

[2015-05-31 15:45] Naliath commented on #68
@joebob49 I'm not talking about an easy fix as a long term solution (deserializing it as a string will make it work now with little to no effort of our part and get you the data). I'm talking about an easy interface for the user to consume. The way Mike is trying to fix it is actually the best .net way, it might not be complete yet but what he is trying to do is to mimic the 'complex' data structu

[2015-05-31 15:50] LordMike commented on #68
Using .NET's DateTime is THE best way to handle dates. It makes the API easy to use, everywhere, as dates are understood and well-used. When exposing something that doesn't fit in the DateTime class, we have to do something to make it work. I think my approach of making something that mimics DateTime, but isn't, is the best compromise to keeping it usable.

There are a number of places in TMDb whe

[2015-05-31 16:08] joebob49 commented on #68
Naliath;

Ok that I can live with providing a real solution is forthcoming from TMDB. TMDB and it's users are the source of the data and until the problem(s) are resolved there there will be no real solution. Mike, Please impress upon Travis NOT to destroy any data. put it to the side but do preserve it. I'm sorry to be bit old school and a profectionist but "I is what I is".

Joe

[2015-05-31 16:09] LordMike commented on #68
@joebob49 put your 2-cents into the discussion at https://www.themoviedb.org/talk/556a091992514173f5001af6 so that I'm not the only one in there chatting :P

[2015-06-03 19:08] DanCooper opened #77 "Missing: /person/{id}/external_ids"
Hi
Thank you for the latest updates!

Found another thing that looks like it missing in TMDBLib.
Please add it if you have time.

http://docs.themoviedb.apiary.io/reference/people/personidexternalids

[2015-06-12 16:31] joebob49 opened #78 "Primary Release [Boolean]?"
Hi Mike;

Did I miss something in Movie.Releases or is the Primary Release flag [boolean] not in the Movies.releases collection? I see it in the apiary doc.

Regards;
Joe

[2015-06-13 22:29] joebob49 opened #79 "Trailers Problem"
Mike;

Did I miss something because I'm not getting all the info through the wrapper?

Raw:
https://api.themoviedb.org/3/movie/78/videos?api_key=MYKEY

{
  "id": 78,
  "results": [
    {
      "id": "533ec651c3a3685448000089",
      "iso_639_1": "en",
      "key": "xP4WvJaMfj8",
      "name": "Trailer 1",
      "site": "YouTube",
      "size": 480,
      "type": "Trailer"
    },
    {
      "id":

[2015-06-13 23:18] LordMike commented on #79
I'm recalling not being able to test trailers fully because it wasn't so popular or filled out back then.

[2015-06-14 14:07] joebob49 commented on #79
I've been scraping and checking this data coming through the wrapper (is it is since last release) and be aware that Travis was (and may not yet) be sanitizing the "key" field for code injections. I've notified him of the problem and it is now on a ticket.

I don't see any unique key in his trailers per movie json (above) unless he is using  the "ID" entry (i.e. "id": "533ec651c3a3685448000089",)

[2015-06-14 14:11] LordMike commented on #78
You're talking about the `primary_release_year` fields and filters?

[2015-06-14 14:35] LordMike commented on #79
@joebob49 check out my branch, issue-79.

https://github.com/LordMike/TMDbLib/commits/issue-79

[2015-06-14 14:38] LordMike commented on #78
Ah I see now.

[2015-06-14 14:39] LordMike opened #80 "Add support for "primary_release" fields in Discover"
See also #78 .

Discover has a new series of filters:
- primary_release_year
- primary_release_year.gte
- primary_release_year.lte

And some new sorting mechanisms:
- primary_release_date.asc
- primary_release_date.desc

[2015-06-14 14:40] LordMike commented on #78
Are you certain?
The `Country` object has a `Primary` boolean attached, which should be populated.

@joebob49 please comment on this.

[2015-06-14 14:52] LordMike opened #81 "Translations for TV Shows is missing"
There is another method that can be called on Tvshows.
I've added it in a separate branch.

@Naliath will you look at this?

Branch: add-translations-to-tvshows
https://github.com/LordMike/TMDbLib/commits/add-translations-to-tvshows

[2015-06-14 15:05] joebob49 commented on #78
I'll have a closer look and see just where the "Primary" flag should appear. My understanding from a TMDB moderator is that the "Primary" release is/can be used to determine just what applies as "Original Language" criteria. The "Primary" release country (language) being one of the factors of the discussion.

"So if yours is the criteria upon which original language is decided then please explain

[2015-06-14 15:39] joebob49 commented on #78
Mike;

It is in the /movie/releases json. Example:
{
  "id": 550,
  "countries": [
    {
      "certification": "R",
      "iso_3166_1": "US",
      "primary": true,
      "release_date": "1999-10-14"
    },
    {
      "certification": "18",
      "iso_3166_1": "DE",
      "primary": false,
      "release_date": "1999-11-10"
    },

I see what you are looking at in "Discover". Here it is a filter

[2015-06-14 15:52] joebob49 commented on #79
Oops, Am I a wrapper release behind? I'll check my version!

Ouch! I am one behind. (8.1 Alpha). I'll Update! Nope. Last on Nuget is this one. Cannot seem to get 8.2 Alpha there.  Help?

Joe

[2015-06-14 15:57] joebob49 commented on #78
Sorry seem to have mixed up my "Issues" Last version I have is 8.1 alpha and 8.2 isn't showing on Nuget. Any suggestions?

BTW can we/I get on a mailing list somewhere to be notified when updates occur?

Joe

[2015-06-14 16:43] LordMike commented on #79
@joebob49 no - I meant look at my code, see if that would work for you. I found we missed a set of properties on the Video and Trailer objects. So it's been remedied.

[2015-06-14 16:45] LordMike commented on #78
There is no mailing list :P
But I can see that Naliath added the field 16 days ago here ffc2eacec2b2bea397c0f723ddc72e5910114995, so it should have made it into the 0.8.2-alpha.

You can get the 0.8.2-alpha by visiting here: https://www.nuget.org/packages/TMDbLib/0.8.2-alpha, or by running this command in the Package Console:

Install-Package TMDbLib -Pre

[2015-06-14 16:48] Naliath commented on #79
Yea stuff get's added all the time. I'm quite sure not all those props were available when we implemented the feature

[2015-06-14 16:54] joebob49 commented on #78
Thanks!

Have it through the nuget console!

Don't understand why it was not in the NUGET updates (VS13 btw) . Because it's a pre-release?

Joe

[2015-06-14 16:55] LordMike commented on #78
Pre-release. Yes.

[2015-06-14 16:55] Naliath commented on #78
yea you have to either use the console or the dropdown in the packagemanager to allow prereleases

[2015-06-14 17:17] LordMike commented on #78
I take it this issue has been handled @joebob49 ?

At least it revealed some missing code elsewhere :)

Also, I don't have a timeline for an official release yet. I suppose the next official release will include the async changes we've been looking at lately, and therefore it will take some time and be breaking.

[2015-06-14 17:20] LordMike commented on #63
@scboffspring, have you had a chance to try out the code?

I'd love to make a 0.9 or 1.0 release :P

[2015-06-14 17:21] LordMike commented on #79
With #82 merged in. I'm closing this.

Thanks for reporting :)

[2015-06-14 17:21] #79 closed

[2015-06-14 17:25] LordMike commented on #81
With #83 closed. I'm closing this.

[2015-06-14 17:25] #81 closed

[2015-06-14 18:34] joebob49 commented on #78
Yup!
Have the update and am adjusting my code now. Thanks Much!

Joe

[2015-06-14 18:34] #78 closed

[2015-06-14 20:13] joebob49 opened #84 "The 8.2 alpha version and Trailers?"
Mike;

I cannot see the issue post I made on Trailers. I don't see a data match with json in your trailers object in the 8.2 alpha. .

Was this the additional "coding" you referred to earlier today?

Joe

[2015-06-14 20:14] LordMike commented on #84
Yes. I can make an 8.2.1-alpha if you'd like?

For reference: #79

[2015-06-14 20:15] joebob49 commented on #84
Never mind. I see you closed it!

Joe

[2015-06-14 20:18] joebob49 commented on #84
Ok
Please do and i'll test it! Will let you know the results

joe.

[2015-06-14 23:03] LordMike commented on #84
@joebob49 it is now here https://www.nuget.org/packages/TMDbLib/0.8.2.1-alpha

Sorry about the delay. An emergency came up at work.

[2015-06-15 01:56] joebob49 commented on #84
Thanks Mike;

Must be Monday there. We're still on Sunday here on the sunny west Coast of Canada.

Anyway I'll update and get back to you when I've tested....

Joe

[2015-06-15 02:29] joebob49 commented on #84
Humm..

Not seeing any changes. Checked version and its 8.2.1
Using:
      Dim Movie_Trailers As TMDbLib.Objects.Movies.Trailers = URLResponse.GetMovieTrailers(Movie_id)

I was expecting something to containing this:
{
"id": 78,
"results": [
{
"id": "533ec651c3a3685448000089",
"iso_639_1": "en",
"key": "xP4WvJaMfj8",
"name": "Trailer 1",
"site": "YouTube",
"size": 480,
"type": "Trailer"
},
{
"id":

[2015-06-15 02:51] joebob49 commented on #84
Found your code:

namespace TMDbLib.Objects.Movies
{
    public class Youtube
    {
        public string Name { get; set; }
        public string Size { get; set; }
        public string Source { get; set; }
    }
}

To:
        public string Id { get; set; }
        public string ISO-639-1  { get; set; }
        public string Site { get; set; }
        public string Name { get; set; }
        pu

[2015-06-15 07:08] LordMike commented on #84
It didn't change?
Must've messed up. :-o

I'll take a look at it when I get back home this evening.

[2015-06-15 10:09] scboffspring commented on #63
Hi @LordMike

Sadly not, I had to put my project temporarly on hold because of job. I hope to continue next week on it.

I will keep you updated as soon as I have done some testing

[2015-06-15 16:19] LordMike commented on #84
Ah. I see now. I completely messed up when I did the two pull requests last night.

[2015-06-15 16:21] LordMike commented on #84
I can also see now that the `/trailers` has been deprecated in favor of `/videos`.

[2015-06-15 16:23] LordMike commented on #84
Arh screw it. We haven't made a full release since `0.7.7`, so we can break stuff.

[2015-06-15 16:33] LordMike opened #85 "Support /movie/latest"

[2015-06-15 16:36] LordMike commented on #84
@joebob49 I'll try to make an 0.8.2.2-alpha.

[2015-06-15 16:38] LordMike commented on #85
Nvm. was looking in the wrong place.

[2015-06-15 16:38] #85 closed

[2015-06-15 16:45] LordMike opened #87 "Configuration - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Configuration
- [x] /configuration

[2015-06-15 16:45] LordMike opened #88 "Account - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Account
- [x] /account
- [x] /account/{id}/lists
- [x] /account/{id}/favorite/movies
- [x] /account/{id}/favorite/tv
- [x] /account/{id}/favorite
- [x] /account/{id}/rated/movies
- [x] /account/{id}/rated/tv
- [x] /account/{id}/rated/tv/episodes
- [x] /account/{id}/watchlist/movies
- [x] /account/{id}/watchlist/tv
- [x] /account/{id}/watchlist

[2015-06-15 16:45] LordMike opened #89 "Authentication - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Authentication
- [x] /authentication/token/new
- [x] /authentication/token/validate_with_login
- [x] /authentication/session/new
- [x] /authentication/guest_session/new

[2015-06-15 16:46] LordMike opened #90 "Certifications - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Certifications
- [x] /certification/movie/list
- [x] /certification/tv/list

[2015-06-15 16:46] LordMike opened #91 "Changes - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Changes
- [x] /movie/changes
- [x] /person/changes
- [x] /tv/changes

[2015-06-15 16:46] LordMike opened #92 "Collections - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Collections
- [x] /collection/{id}
- [x] /collection/{id}/images

[2015-06-15 16:46] LordMike opened #93 "Companies - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Companies
- [x] /company/{id}
- [x] /company/{id}/movies

[2015-06-15 16:46] LordMike opened #94 "Credits - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Credits
- [x] /credit/{credit_id}

[2015-06-15 16:46] LordMike opened #95 "Discover - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Discover
- [x] /discover/movie
- [x] /discover/tv

[2015-06-15 16:47] LordMike opened #96 "Find - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Find
- [x] /find/{id}

[2015-06-15 16:47] LordMike opened #97 "Genres - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Genres
- [x] /genre/movie/list
- [x] /genre/tv/list
- [x] /genre/{id}/movies

[2015-06-15 16:47] LordMike opened #98 "Guest Sessions - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Guest Sessions
- [ ] /guest_session/{guest_session_id}/rated_movies

[2015-06-15 16:47] LordMike opened #99 "Jobs - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Jobs
- [x] /job/list

[2015-06-15 16:47] LordMike opened #100 "Keywords - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Keywords
- [x] /keyword/{id}
- [x] /keyword/{id}/movies

[2015-06-15 16:48] LordMike opened #101 "Lists - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Lists
- [x] /list/{id}
- [x] /list/{id}/item_status
- [x] /list
- [x] /list/{id}/add_item
- [x] /list/{id}/remove_item
- [x] /list/{id}/clear

[2015-06-15 16:48] LordMike opened #102 "Movies - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Movies
- [x] /movie/{id}
- [x] /movie/{id}/account_states
- [x] /movie/{id}/alternative_titles
- [x] /movie/{id}/credits
- [x] /movie/{id}/images
- [x] /movie/{id}/keywords
- [x] /movie/{id}/releases
- [x] /movie/{id}/videos
- [x] /movie/{id}/translations
- [x] /movie/{id}/similar
- [x] /movie/{id}/reviews
- [x] /movie/{id}/lists
- [x] /movie/{

[2015-06-15 16:48] LordMike opened #103 "Networks - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Networks
- [x] /network/{id}

[2015-06-15 16:48] LordMike opened #104 "People - Verify that all methods are implemented"
Verify that all methods below have been implemented.

People
- [x] /person/{id}
- [x] /person/{id}/movie_credits
- [x] /person/{id}/tv_credits
- [ ] /person/{id}/combined_credits
- [x] /person/{id}/external_ids
- [x] /person/{id}/images
- [x] /person/{id}/tagged_images
- [x] /person/{id}/changes
- [x] /person/popular
- [x] /person/latest

[2015-06-15 16:48] LordMike opened #105 "Reviews - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Reviews
- [x] /review/{id}

[2015-06-15 16:49] LordMike opened #106 "Search - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Search
- [x] /search/company
- [x] /search/collection
- [x] /search/keyword
- [x] /search/list
- [x] /search/movie
- [x] /search/multi
- [x] /search/person
- [x] /search/tv

[2015-06-15 16:49] LordMike opened #107 "Timezones - Verify that all methods are implemented"
Verify that all methods below have been implemented.

Timezones
- [x] /timezones/list

[2015-06-15 16:49] LordMike opened #108 "TV - Verify that all methods are implemented"
Verify that all methods below have been implemented.

TV
- [x] /tv/{id}
- [x] /tv/{id}/account_states
- [x] /tv/{id}/alternative_titles
- [x] /tv/{id}/changes
- [x] /tv/{id}/content_ratings
- [x] /tv/{id}/credits
- [x] /tv/{id}/external_ids
- [x] /tv/{id}/images
- [x] /tv/{id}/keywords
- [x] /tv/{id}/rating
- [x] /tv/{id}/similar
- [x] /tv/{id}/translations
- [x] /tv/{id}/videos
- [x] /tv/latest
-

[2015-06-15 16:49] LordMike opened #109 "TV Seasons - Verify that all methods are implemented"
Verify that all methods below have been implemented.

TV Seasons
- [x] /tv/{id}/season/{season_number}
- [x] /tv/season/{id}/changes
- [x] /tv/{id}/season/{season_number}/account_states
- [x] /tv/{id}/season/{season_number}/credits
- [x] /tv/{id}/season/{season_number}/external_ids
- [x] /tv/{id}/season/{season_number}/images
- [x] /tv/{id}/season/{season_number}/videos

[2015-06-15 16:49] LordMike opened #110 "TV Episodes - Verify that all methods are implemented"
Verify that all methods below have been implemented.

TV Episodes
- [x] /tv/{id}/season/{season_number}/episode/{episode_number}
- [x] /tv/episode/{id}/changes
- [x] /tv/{id}/season/{season_number}/episode/{episode_number}/account_states
- [x] /tv/{id}/season/{season_number}/episode/{episode_number}/credits
- [x] /tv/{id}/season/{season_number}/episode/{episode_number}/external_ids
- [x] /tv/{id}/

[2015-06-15 17:16] #99 closed

[2015-06-15 17:17] #87 closed

[2015-06-15 17:19] LordMike commented on #94
Requires a whole new call to be implemented

[2015-06-15 17:20] #100 closed

[2015-06-15 17:22] #89 closed

[2015-06-15 17:33] #93 closed

[2015-06-15 17:34] #92 closed

[2015-06-15 18:35] LordMike commented on #88
See also:
https://www.themoviedb.org/talk/557f1af49251410a2c002480

[2015-06-15 18:38] LordMike opened #115 "Combine MediaType & ContentType"
These two objects appear to serve identical purposes.

TMDbLib.Objects.General.MediaType
TMDbLib.Objects.General.ContentType

[2015-06-15 18:40] #96 closed

[2015-06-15 19:17] LordMike opened #118 "Remove GetGenres()"
Remove before the 0.9 release.
This method is obsolete.

[2015-06-15 19:17] #97 closed

[2015-06-15 19:18] #105 closed

[2015-06-15 19:19] #101 closed

[2015-06-15 19:19] LordMike commented on #107
This object has a horrible formatting, making it almost impossible

[2015-06-15 19:19] #107 closed

[2015-06-15 19:24] #90 closed

[2015-06-15 19:28] #103 closed

[2015-06-15 19:29] LordMike commented on #98
Requires a new set of calls.

[2015-06-15 20:39] #84 closed

[2015-06-15 20:48] #88 closed

[2015-06-15 20:50] Naliath commented on #20
this is now nicely split up into separate tasks so no need for this to remain open

[2015-06-15 20:50] #20 closed

[2015-06-15 20:51] Naliath commented on #24
Let's just say this falls under the new issue that was just opened up to verify the calls

[2015-06-15 20:51] #24 closed

[2015-06-15 20:52] LordMike commented on #24
Link to the issue please.

[2015-06-15 20:53] LordMike commented on #20
#108 #109 #110

[2015-06-15 20:56] LordMike commented on #84
@joebob49 an 0.8.2.2-alpha should be out.
https://www.nuget.org/packages/TMDbLib/0.8.2.2-alpha

[2015-06-16 14:49] joebob49 commented on #118
Mike:

Is movie.genres still valid? I assume so.

Joe

[2015-06-16 15:30] joebob49 commented on #84
Mike;

Something isn't right! I expected:

      Dim Movie_Trailers As TMDbLib.Objects.General.Video = URLResponse.GetMovieVideos(Movie_id)

But the method and the container are not agreeing. I looked at your code and see:

namespace TMDbLib.Objects.General
{
    public class Video
    {
        public string Id { get; set; }
        public string Iso_639_1 { get; set; }
        public string Key

[2015-06-16 16:23] LordMike commented on #84
Wow, VB looks verbose :P
Did it work out for you?

[2015-06-16 16:24] LordMike commented on #118
It is, it has moved to another method specifically for `Movie Genres`.
https://github.com/LordMike/TMDbLib/blob/master/TMDbLib/Client/TMDbClientGenres.cs#L36

[2015-06-16 16:35] LordMike opened #121 "Posters have ID, Backdrop does not"
TMDbLib.Objects.General.Images has two lists of Images. One with ID and one without. Check up when relevant.

Reference
https://plus.google.com/112242913966366521245/posts/Erby7reFbfQ

[2015-06-16 17:09] LordMike commented on #121
Remove ID as per discussion in the link

[2015-06-16 17:13] joebob49 commented on #84
I'll be testing in a bit. have to alter my table to match new model. May take a bit as it will take three passes at least if I am to retain any fragment of my current data. ~250,000 records.

I'll let you know the results.

Joe

[2015-06-16 17:14] joebob49 commented on #84
Mike;

Looks just fine thanks!

Joe

[2015-06-16 17:16] LordMike commented on #84
Cool. Remember, quite a few methods will shift places and change names over the next days and weeks, until we can get 0.8.3 out. I'll continue making 0.8.2.x builds until then.

[2015-06-16 17:21] joebob49 commented on #84
Thanks I'll check daily...

Joe

[2015-06-16 18:22] LordMike opened #122 "Rename all tests to follow some naming convention"
Suggestion:

#### For all "method-able" clients
We need to differentiate between the different types of Clients. Some client methods follow a specific pattern (see also [tmdb-services](https://github.com/LordMike/TMDbLib/wiki/TMDb-Services#data)), e.g. for `Movie`:
- `/movie/{id}` -- general case, accepts `append_to_response`
- `/movie/{id}/credits` -- specific property only

These can be tested i

[2015-06-16 18:44] LordMike commented on #104
I refuse to implement /person/{id}/combined_credits.

[2015-06-16 19:34] LordMike commented on #104
For reference, this link shows the different types used in `movie_credits`, `tv_credits` and `combined_credits`:
http://pastebin.com/PThEXRzy

If we implemented `combined_credits`, we'd have a list (besides three different credits properties on Person) consisting of either:
- The same type of object, but with alternating Name and Title (and other properties) depending on its "type"
- Two different

[2015-06-16 20:41] LordMike commented on #122
Is this too convoluted, @Naliath ?

[2015-06-16 21:10] LordMike commented on #108
@Naliath can you help with:
- /tv/{id}/rating
- /tv/{id}/account_states

I think both the tests and the actual code needs work.

[2015-06-17 12:18] LordMike commented on #77
This is underway. I just looked at the person methods yesterday, and I definitely did some work on external ids.

Check out the pull request related to it, to confirm.

Mike.

-----Original Message-----
From: "DanCooper" <notifications@github.com>
Sent: ‎03-‎06-‎2015 21:08
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Subject: [TMDbLib] Missing: /person/{id}/external_ids  (#77)

Hi
Thank you

[2015-06-17 12:29] DanCooper commented on #77
Great, thank you so much.
I don't know, but is there a way to get TVShow informations with Credits including ExternalIDs instead of GetExternalIDs for each Credit (i hope you understand what i mean)?

I use

GetTvShow(ID, TMDbLib.Objects.TvShows.TvShowMethods.ContentRatings Or TMDbLib.Objects.TvShows.TvShowMethods.Credits Or TMDbLib.Objects.TvShows.TvShowMethods.ExternalIds)

to get all informatio

[2015-06-18 06:48] LordMike commented on #77
It seems that you already OR the methods together, meaning you should be getting it all in one go. Are you certain its not there?

In many cases, its helpful to have Fiddler or another proxy running in the background, to help decipher what's going on.

That being said. I can't remember if there were any bugs in the external id implementation for person.

-----Original Message-----
From: "DanCooper

[2015-06-18 07:21] Naliath commented on #122
Fine for me, not sure this will cover all cases in all scenario's but I'd rather have long and complete name than a abbreviated one anyway. And some consistency in these things will give us a better overview

[2015-06-18 07:22] Naliath commented on #108
I'll take a look this evening

[2015-06-18 11:23] DanCooper commented on #77
My code works, "OR" is the right way to get this three "extraMethods".
I have to test your new commits and try it again.

[2015-06-18 15:37] joebob49 commented on #122
Mike;

This solves the problems I was having as a wrapper newby back in the "old" days. That and the fact some things had gotten out of date. Big improvements since then. Thanks

Joe

[2015-06-18 15:42] joebob49 opened #126 "Trailer Uniqueness"
Mike;

FYI The new object/method for trailers is just fine at the wrapper level but be aware that Travis's "id" is NOT unique (have not checked "key"). On re-scraping trailers (for 14 hours) I hit a few id duplicates. Just so you know.

Joe

[2015-06-18 17:23] LordMike commented on #122
I realized after writing this, that maybe instead the efforts should be focused on naming the methods in the API, rather than in the tests. Because, as @Naliath says, it might be hard to cover all cases (and some places we do integration tests instead).

[2015-06-18 17:24] LordMike commented on #126
You should post some of these observations to the Google+ group.

In my experience, not everything Travis does is intentional :).

[2015-06-18 17:25] LordMike commented on #126
... but I find it disturbing to have an "Id" that is *not* an "Identifier".

[2015-06-18 17:27] LordMike commented on #126
You mean the `Video` objects?

E.g., /movie/47964/videos

	{
		"id" : 47964,
		"results" : [{
				"id" : "533ec6a7c3a368544800556f",
				"iso_639_1" : "en",
				"key" : "7EgVRvG2mM0",
				"name" : "A Good Day To Die Hard Official Trailer",
				"site" : "YouTube",
				"size" : 720,
				"type" : "Trailer"
			}
		]
	}

[2015-06-18 17:33] LordMike commented on #77
I just checked up on it.
The External ID's are not available in the current `master`, but it has been implemented in my re-vamp of the library. It will come in as soon as the merge request #123 is accepted.

The underlying issue, which I'll close this and refer to, is #104.

Reference, test from #123:
https://github.com/LordMike/TMDbLib/blob/issue-104/TMDbLibTests/ClientPersonTests.cs#L171

[2015-06-18 17:33] #77 closed

[2015-06-18 19:13] LordMike commented on #36
We can make special methods that wrap the functionality. Obviously, we can't do it with the current layout, as they're for single-objects only.

But it might be a really good thing to have though.

[2015-06-18 19:40] LordMike opened #128 "Update 2015-06-18 - TV list include new fields"
"As promised, all of our TV list (featured lists, search, discover, find) responses now include the same 'original_language', 'overview' and 'genre_ids' fields as movies.

Not all responses will have these fields updated until the items start purging from cache (~over the next ~6 hours)."
- https://plus.google.com/+TravisBellTMDb/posts/TU3dRNLqUDL

[2015-06-18 21:05] LordMike commented on #98
Issue with Guest Sessions: https://plus.google.com/112242913966366521245/posts/MLUWffRZEv3

[2015-06-18 21:34] #108 closed

[2015-06-18 21:46] #98 closed

[2015-06-18 23:26] LordMike commented on #91
All done.

[2015-06-18 23:26] #91 closed

[2015-06-19 14:42] #94 closed

[2015-06-19 14:49] LordMike opened #131 "Add append feature for Account_states"
Once Travis gets it working, implement it.

https://www.themoviedb.org/talk/55832ca7c3a3686c0e000b2a?page=1

[2015-06-19 14:50] LordMike commented on #131
For TvEpisode, TvSeason and Tvshow (#108, #109, #110)

[2015-06-19 14:53] #102 closed

[2015-06-19 14:54] #121 closed

[2015-06-19 14:58] #104 closed

[2015-06-19 15:02] #106 closed

[2015-06-19 15:17] LordMike opened #132 "Join TvShowBase, SearchTv"
These are strikingly similar
TMDbLib.Objects.TvShows.TvShowBase
TMDbLib.Objects.Search.SearchTv

[2015-06-19 15:19] #95 closed

[2015-06-20 20:06] #110 closed

[2015-06-20 20:06] #109 closed

[2015-06-20 20:23] LordMike opened #133 "Release 0.8.3"
I pushed 0.8.2.3-alpha to Nuget after merging all the PR's I made.
Should we move to 0.8.3, and release it officially?

I wonder how it will break existing projects.

@Naliath please comment :)

@joebob49, check out the 0.8.2.3-alpha.

[2015-06-20 20:41] LordMike commented on #45
Completed in #108, #109, #110

[2015-06-20 20:41] #45 closed

[2015-06-20 20:41] LordMike commented on #80
Completed in #95

[2015-06-20 20:41] #80 closed

[2015-06-20 20:42] LordMike commented on #126
@joebob49 could it be that the trailers you find to be duplicates, actually are the same trailers?

I'm thinking that two episodes or two movies could be referencing the same trailer.

[2015-06-21 08:25] LordMike opened #134 "Add support for deleting ratings"
See https://plus.google.com/u/0/+TravisBellTMDb/posts/Zj58Y4Jy11L?cfem=1 for announcement.

- [x] DELETE /movie/{ID}/rating
- [x] DELETE /tv/{ID}/rating
- [x] DELETE /tv/{ID}/season/{SEASON_NUM}/episode/{EPISODE_NUM}/rating

[2015-06-21 10:53] LordMike opened #136 "Add support for guest_session ratings"
* [x] DELETE /movie/{ID}/rating
* [x] DELETE /tv/{ID}/rating
* [x] DELETE /tv/{ID}/season/{SEASON_NUM}/episode/{EPISODE_NUM}/rating
* [x] POST /tv/{ID}/rating
* [x] POST /tv/{ID}/season/{SEASON_NUM}/episode/{EPISODE_NUM}/rating
* [x] GET /guest_session/{GUEST_SESSION_ID}/rated/tv
* [x] GET /guest_session/{GUEST_SESSION_ID}/rated/tv/episodes

Source:
https://www.themoviedb.org/talk/556b130992514173

[2015-06-22 13:18] Naliath commented on #133
Hey, spent the weekend in Frankfurt so didn't get a chance to check any of this. I'd do the final release after we fix the issue with the account states (if this hasn't been dealth with yet)

[2015-06-22 14:44] LordMike commented on #133
I left a link somewhere. Basically, its already done on tmdb, were just missing the session id?

[2015-06-22 14:45] LordMike commented on #133
I suppose it also counts for Rating (albeit that may be a write-only method).

[2015-06-23 08:15] DanCooper opened #137 "Missing: TVEpisodes.credits.guest_stars"
Hi

guest stars are still missing in latest release on NuGet.

Thank you for your work on this great lib!

[2015-06-23 08:58] DanCooper commented on #137
Sorry, my mistake, found it in tvepisodes.gueststars.

[2015-06-23 08:58] #137 closed

[2015-06-24 23:05] LordMike commented on #63
I just brushed up the `async` branch to incorporate the latest changes from all the other PR's so far.

[2015-06-25 09:27] #126 closed

[2015-06-25 09:28] #69 closed

[2015-06-25 09:29] LordMike commented on #133
@Naliath found it: #131

[2015-07-09 13:30] #131 closed

[2015-07-10 20:36] #134 closed

[2015-07-13 12:26] DanCooper opened #139 "Broken: .Results = 0 with SearchCollection (always)"
Hi

looks like search movie collections is broken. If i search a movie collection like "James Bond", the
SearchContainer.TotalResults = 1, but
SearchContainer.Results = 0.

This has worked in older releases.

[2015-07-13 17:01] LordMike commented on #139
Which version are you using?
It works on my end, using the `master` branch (as well as `async`).

[2015-07-13 18:07] DanCooper commented on #139
I'm using the Nuget version. It has been worked a long time, but now is broken.

[2015-07-13 18:10] LordMike commented on #139
Which version. 0.8.2 ?

Mvh.
Michael

On Mon, Jul 13, 2015 at 8:07 PM, DanCooper <notifications@github.com> wrote:

[2015-07-13 18:29] DanCooper commented on #139
The lastet available on Nuget.

[2015-07-13 20:22] LordMike commented on #139
And is that 0.7.7 (last stable) or 0.8.2.4-alpha (latest prerelease)?

[2015-07-13 20:23] DanCooper commented on #139
0.8.x alpha

[2015-07-13 20:26] LordMike commented on #139
I am unable to reproduce with 0.8.2.4-alpha. Can you provide example code?
I tried with:

    TMDbClient client = new TMDbClient("c6b31d1c....");
    SearchContainer<SearchResultCollection> result = client.SearchCollection("James Bond");
    Console.WriteLine(result.Results.Count);

[2015-07-13 20:51] DanCooper commented on #139
Sorry, it works now. I have no idea why the same code has nod worked today.

[2015-07-13 20:51] #139 closed

[2015-07-27 21:20] LordMike commented on #133
Couldn't wait, @Naliath .. :)

[2015-07-27 21:20] #133 closed

[2015-07-28 08:43] Naliath commented on #133
np, been way too busy last few weeks. Good work

[2015-07-29 20:29] LordMike commented on #63
Merged into `master`. Lets move it :)

[2015-07-29 20:29] #63 closed

[2015-07-29 20:29] #118 closed

[2015-07-29 20:49] #115 closed

[2015-07-29 20:50] #128 closed

[2015-08-04 18:02] LordMike opened #141 "Refactor session ID adding to Request objects"
Lots o' duplication out there :P

[2015-08-08 16:07] LordMike commented on #141
Work begun in separate branch: 269ebd5865bccc57587910f22ecc73df51cfb6aa

[2015-08-16 17:37] LordMike opened #144 "Improve Search() methods"
Following PR #142, we should improve the search methods a little.

[2015-08-16 17:38] LordMike opened #145 "Improve SearchMulti()"
This is a tricky one, as Multi-search will return one of three objects (movie, tvshow or person), depending on the result. We might be able to reduce the `SearchMulti` type to only contain the common fields, and then have a property for each of the three types (where one of them will be set with the actual content).

Inspired by PR #142

[2015-08-16 18:18] LordMike commented on #145
Depends on issue #144 to be completed and merged first.

[2015-08-17 07:36] danielnachtrub commented on #145
using proper inheritance on the returned items would propably be nicer
then SearchMulti can return an interface which may be nicer that an actual class
working with Movies and TvShows when the items are implementing interfaces (e.g. ISearchMovie implements ISearchResult).
Propagating SearchMulti has no direct benefits and causes incompatibility when using SearchMovie or SearchMulti in exchange to

[2015-08-19 06:03] virk0009 opened #146 "how to get the upcoming movies for a given country."
Hi
Thanks a lot for this great api. I am struggling to get a list of upcoming movies for india. I tried changed the default language and default country properties, but nothing works.

help will be appreciated.

regards
Parminder

[2015-08-19 18:09] LordMike commented on #146
Hi,

According to the API docs for Upcoming (http://docs.themoviedb.apiary.io/#reference/movies/movieupcoming), you cannot submit Country. So you will get movies for all countries (but their names will be in your chosen language).

I believe this is partly because the data is either non-existent, or a given movie can be "upcoming" in many countries at once. You can ask in the TMDb forums for more

[2015-08-22 20:14] Venom1991 opened #147 "Discrepancy between the GitHub repo and Nuget package"
Hi,

First, I want to thank you for building this library, it is a great help. I only have couple of questions.
I've added version 0.8.3 from Nuget into my project but I'm also trying to learn the library by using the cloned GitHub repository at the same time. There seems to be quite a difference in the implementations. For instance, difference methods like SearchTvShow(): Nuget version has a Resu

[2015-08-22 22:18] LordMike commented on #147
True. Currently we're moving to v. 0.9 which will be an async edition. You can find the current published version on the `stable` branch.

https://github.com/LordMike/TMDbLib/tree/stable

[2015-08-22 22:18] #147 closed

[2015-08-23 08:26] LordMike commented on #147
But do report other issues you find :)
Thanks for using the library - I was a bit tired when I wrote that last comment :P

[2015-08-25 17:30] Venom1991 opened #148 "GetTvGenres() doesn't return all possible genres"
It returns exactly 15 genres and it seems that some are missing.
What I mean is this:

    SearchContainer<SearchTv> results = client.SearchTvShow("Star Trek").Result;

    List<Genre> genres = client.GetTvGenres().Result.Where(g => results.Results[0].GenreIds.Contains(g.Id)).ToList(); // 10759 - "Action & Adventure" and 18 - "Drama"

    TvShow show = client.GetTvShow(results.Results[0].Id).Resul

[2015-08-26 16:47] LordMike commented on #148
Just to be sure. You're talking about the `client.GetTvGenres()` call?

It in turn invokes the following:
`http://api.themoviedb.org/3/genre/tv/list?api_key=c6b31...`

Which correctly enough returns 15 results. 15 may be too few genres for TV, but it is nonetheless what's returned from TMDb.

[2015-08-26 18:46] Venom1991 commented on #148
Yes, it is client.GetTvGenres().

Where the hell did 878 - "Science Fiction" come from then? How is it fetched?
Well, it seems I will have to omit searching series by genres altogether and remain with the title-only search query.

I have another question, a bit unrelated. I don't know if it requires opening a new issue thread.
How exactly do I fetch newly released episodes for a give TV show (if i

[2015-08-27 07:46] Naliath commented on #148
the changes are all changes to the tv show, since the The MovieDB is user driven it gets quite a few changes, not all relevant to you. If person A decides to change 2 letters in the spanish description that will be a change, new poster added, thats a change, etc.

You want newly released episodes then you have a few options:
- When every you detect a change interpret it and fetch the relevant seas

[2015-08-27 11:13] Venom1991 commented on #148
This "Added" you are speaking of is in fact a string stored in the Action property of the ChangeItem object or is it something else entirely? So, when Change.Key is "season" or "episode" and ChangeItem.Action is "added" that indicated a new season and/or episode?
Well, that is pretty much what I need. The only thing that remains is to parse the ChangeItem.Value JSON string.

[2015-08-27 16:38] LordMike commented on #148
To be honest. The Changes API's have not received a whole lot of attention. So if you find issues (unparsed attributes etc.), do chime in.

@Naliath we should move the `TMDbLib.Objects.Movies.Change´ into `TMDbLib.Objects.General` (it's apparently used everywhere :P. That and `ChangeContainer` too.

[2015-08-28 01:42] mmaxwell1206 opened #150 "Credits and Images collections are null"
![favoritescreditsissue](https://cloud.githubusercontent.com/assets/14008320/9537277/3042a7b2-4d04-11e5-991c-44d37f8992d8.png)

I can't manage to get any credits or images using the wrapper. The collections are null.
Am I missing anything or is there different levels to the API keys and I don't have permission?

I'm developing in VB.NET in framework 4.5.

Thanks,
Matt Maxwell

[2015-08-28 13:04] Naliath commented on #148
@LordMike Yup, I'll take a look at it today

@Venom1991 The exact keys and their meaning you will need to lookup in the api docs. In addition to that we might need to submit a bug report that we are not getting all the genres back (original question).

[2015-08-28 13:12] Naliath commented on #150
Did you include them?

Check the api sample, in this repo, it's in c# but you should be able to figure it out.
In any case you have the main request for a movie/tvshow and then in the API this wrapper is calling you have the extended calls that return the details you are refering too and many more. All these extended calls can be user sepratly or be included in one single call.

To do this in the

[2015-08-28 13:21] mmaxwell1206 commented on #150
Sweet! I did not see that as a parameter for the Get call.

Thank you so much! And great job on the wrapper. It's been a huge help.

-Matt Maxwell

[2015-08-28 13:21] #150 closed

[2015-08-28 13:24] Naliath commented on #141
@LordMike think we can close this one?

[2015-09-01 20:09] #141 closed

[2015-09-20 09:22] bbougot commented on #44
:+1: , really need it!

[2015-09-21 17:19] LordMike commented on #44
@bbougot, I'm guessing it's for Mobile apps?

But if @Naliath agrees, perhaps we should move to MS-HttpClient and Newtonsoft.Json for v. 1.0.0?

[2015-09-21 19:06] bbougot commented on #44
@LordMike Yup that's it! I'd like to use it into a Universal App project

[2015-09-21 20:29] Naliath commented on #44
This seems the way most rest sharp users are moving in any case (checked some issues involving this exact request from the ResetSharp repo)

[2015-09-22 06:58] DynamicDave commented on #44
I haven't been working on the PCL version for a while. Perhaps I can start working on the project again soon. But I have a lot of other work to do, so I'm lacking time.

[2015-09-22 08:08] LordMike commented on #44
The issue is just that. Time.
But now that we're merging versions (async -> master), perhaps we can do
the next step: Remove Restsharp.

I've forgotten everything I know about PCL. Is it a new target, or just a
convention when no non-PCL libraries are referenced?
Is it a new Nuget target, how will it affect other users of Nuget builds,
etc.. ? :P

Mvh.
Michael

On Tue, Sep 22, 2015 at 8:58 AM, Dav

[2015-09-22 08:19] DynamicDave commented on #44
A PCL is a Portable Class Library. MS says: "The Portable Class Library project enables you to write and build managed assemblies that work on more than one .NET Framework platform. You can create classes that contain code you wish to share across many projects, such as shared business logic, and then reference those classes from different types of projects."

It's basically a subset of the .Net f

[2015-09-22 08:33] Naliath commented on #44
Seems it's a separate project type. So it would result in:
- Create new project
- Move all files over
- Replace all unsupported dependencies

Preferable we can just replace the project file so we can retain the file history on the code files

Time is always an issue but this should be relatively easy to implement since we would just be replacing something that is already centralized. If we wrap th

[2015-09-22 08:52] DynamicDave commented on #44
Dear Naliath, that's why I've made the separate branch
https://github.com/DynamicDave/TMDbLib

[2015-09-22 08:54] Naliath commented on #44
@DynamicDave yea perfect just saying there have been quite a few changes since you created the branch so we will have to do some merging :)

[2015-09-22 09:33] DynamicDave commented on #44
I know :-)

[2015-09-22 19:59] LordMike commented on #44
I imagine it would be as simple as declaring that "henceforth we be PCL", and then fixing all compile errors. :P

Maybe we should move to HttpClient(Newtonsoft in a seperate move though.

[2015-09-25 08:39] bbougot commented on #44
@LordMike There's a portable version of RestSharp here :
https://github.com/FubarDevelopment/restsharp.portable
It can be useful for the PCL version of TMDBLib

[2015-09-30 16:55] LordMike commented on #44
Hmm, also published to Nuget: https://www.nuget.org/packages/FubarCoder.RestSharp.Portable/

[2015-10-04 15:30] ORRNY66 opened #151 "How to get a list of actors with version 0.8.3"
Hello,
how to get to version 0.8.3 TMDbLib list actors. It works only with previous versions 0.7.0 - 0.7.6

TMDbClient client = new TMDbClient ("apikey");
Movie film = client.GetMovie (1858, MovieMethods.Casts);

Console.WriteLine("Movie title: {0}", movie.Title);
foreach (Cast cast in movie.Casts.Cast)
    Console.WriteLine("{0} - {1}", cast.Name, cast.Character);

[2015-10-04 20:27] LordMike commented on #151
In version `0.8.3` with the following code:

    TMDbClient client = new TMDbClient("c6b31d1cdad6a56a23f0c913e2482a31");

    Movie movie = client.GetMovie(1858, MovieMethods.Credits);

    Console.WriteLine("Movie title: {0}", movie.Title);
    foreach (Cast cast in movie.Credits.Cast)
    	Console.WriteLine("{0} - {1}", cast.Name, cast.Character);

I get an output that looks like what I had in `

[2015-10-08 06:50] dzbanek opened #152 "Call to TMDb returned unauthorized. Most likely the provided API key is invalid."
Everytime I use any of your examples I got this error. Of course I provided a valid api key, which works with other wrappers. Can you check why all the library calls fail?

[2015-10-08 07:16] dzbanek commented on #152
I managed to fix this. It was a conlict with another wrapper, after I removed it from my solution your library is working. Thank you.

[2015-10-08 07:16] #152 closed

[2015-10-10 11:23] DanCooper opened #153 "Missing: TV - Production Countries"
I'm not shure if this is only missing in your API or also in the TMDB API, but the website list "Production Contries" for tv shows (it's not documented in Apiary).
Can you check that and add it to your API if TMDB does support this inforamtions in the API?

[2015-10-10 17:37] LordMike commented on #153
Do you have an example?

[2015-10-10 17:38] DanCooper commented on #153
https://www.themoviedb.org/tv/1399-game-of-thrones/edit?active_nav_item=production_information
(need to be logged in to see the list)

[2015-10-10 17:41] LordMike commented on #153
Can't find it anywhere in the docs or the output. They have `origin_country` and `production_companies` - but not `production_countries`

[2015-10-15 17:54] Max45 opened #154 "How to get a movie genre"
Hello,
I'm trying to get a list of genres, but I've only got GenreIds.

 SearchContainer<MovieResult> result = client.GetMovieList(MovieListType.Popular, "en");
 foreach (MovieResult movie in result.Results)
 {
      List<int> data = movie.GenreIds;
      var IdGenres = string.Join(",", data);
      Console.WriteLine(movie.Title + " --- " + IdGenres);
 }

But how do I get the name of the genre. Th

[2015-10-15 18:12] LordMike commented on #154
Hi,

You will be able to get the Genres via another call, which will provide you with a Map of ID <-> Name. IIIRC it's called `GetGenres`.

Mike.

[2015-10-16 18:44] Max45 commented on #154
Thank you very much for your response.
Still, I had one question how to get the ID Collection film.

for example:

SearchContainer<SearchResultCollection> collectons = client.SearchCollection("Transformers: Age of Extinction");
foreach (SearchResultCollection _collection in collectons.Results)
    Console.WriteLine("Collection ID: {0}\nPart of the: {1}", _collection.Id, _collection.Name);

Collect

[2015-10-18 10:43] LordMike commented on #154
Hi,

The search in collections does not search the collection's contents. It only searches the collections themselves. So you could go about creating a collection named `Transformers: Age of Extinction`, but that would be silly as it would only ever logically contain one movie.

Mike.

[2015-10-18 10:43] #154 closed

[2015-10-19 16:23] michaeldestici opened #155 "How do you Discover movies by genre?"
I am having a hard time with the Discover method. I am new to C#, so there's that. Could someone please show me an example of how to use the Discover method? Thanks.

[2015-10-19 18:21] LordMike commented on #155
For version `0.8.3`.

    private static void Main(string[] args)
    {
        TMDbClient client = new TMDbClient("c6b31d1cdad6a56a...");

        SearchPerson bruceWillis = client.SearchPerson("Bruce Willis").Results.First();

        DiscoverMovie discover = client.DiscoverMovies();
        discover.IncludeWithAllOfCast(new[] { bruceWillis.Id });

        for (int i = 0; ; i++)
        {

[2015-10-20 18:39] #155 closed

[2015-11-02 08:32] DanCooper opened #156 "not all requests works with RestSharp 105.2.3"
Looks like only
[code]
and
[code]
does not work with latest RestSharp version.

I know that your API only need 104.4.0, but I thought I give notice to you.

[2015-11-02 08:36] DanCooper commented on #153
Ok, i have pushed an old thread on TMDB forum:
https://www.themoviedb.org/talk/5427067ac3a3680b1b000472

[2015-11-02 09:04] LordMike commented on #153
Thanks. I also wrote on their google page, but never received a response. Iirc.

-----Original Message-----
From: "DanCooper" <notifications@github.com>
Sent: ‎02-‎11-‎2015 09:36
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Cc: "Michael Bisbjerg" <michael@mbwarez.dk>
Subject: Re: [TMDbLib] Missing: TV - Production Countries (#153)

Ok, i have pushed an old thread on TMDB forum:
https://www.

[2015-11-15 16:23] SounakBanerjee opened #157 "Alternate Tiltles of TV Shows returning incorrect values"
Eg. Retrieving alternate titles for 'Marvel's Daredevil', is returning 'Deep Purple...', which is incorrect.
I'm using the following function:

TvShow show = client.GetTvShow(videoId, TvShowMethods.Images);
 client.GetMovieAlternativeTitles(show.Id);

[2015-11-15 16:25] SounakBanerjee commented on #157
Is there a way to get the complete cast of a TV Show, instead of just the last season. (As TheMovieDB Api does)

[2015-11-16 09:22] Naliath commented on #157
If are searching for alternative movie titles with a series Id, you are going to have a bad time.
Check if a comparable method exists for series, else it might not be available or not implemented.

[2015-11-16 09:22] #157 closed

[2015-11-16 09:23] Naliath commented on #156
Plan is to move away from rest sharp entirely so this should not be an issue. (If anyone ever finds the time that is)

[2015-11-16 09:23] #156 closed

[2015-11-16 09:24] Naliath commented on #153
https://tmdb.lighthouseapp.com/projects/83077-api/tickets/513-add-production-countries-to-tv-series-response

[2015-11-16 09:26] Naliath commented on #148
I don't think there is more to do for this on our end...

[2015-11-16 09:26] #148 closed

[2015-11-16 11:55] SounakBanerjee commented on #157
Is there one specifically for TV? I see just this one, and I was under the impression it could be an overloaded one. That's why I was hoping the author might clarify.

[2015-11-16 14:11] Naliath commented on #157
GetTvShowAlternativeTitles is in the source, I do not know what version you are using but if you build from the source in github it should work. Also the naming scheme is quite specific, if it says movie in the name that is what it will be searching for.

[2015-11-16 17:46] SounakBanerjee commented on #157
Many thanks, Naliath. This helps a lot.

[2015-11-16 17:51] SounakBanerjee opened #158 "The credits only retrieves for latest season"
Using GetTvShowCredits only returns the credits for the last season. The TheMovieDB API also does the same, but lists individual season credits.
Is there a method by which I can retrieve all credits together for all seasons collectively?

[2015-11-18 19:17] LordMike commented on #158
Hi,

I'm not sure what you mean by "lists individual season credits". As I can see it at http://docs.themoviedb.apiary.io/#reference/tv/tvidcredits/get, it only lists crew and cast (as we parse it) ..

Could you elaborate?

[2015-11-18 19:19] LordMike commented on #151
If this is still an issue, please reopen.

[2015-11-18 19:19] #151 closed

[2015-11-18 20:13] LordMike commented on #132
Completed in 94c5000dc824149a90419c8833a351630d5ab793

[2015-11-18 20:13] #132 closed

[2015-11-18 20:15] LordMike commented on #19
Not an issue in current `master`

[2015-11-18 20:15] #19 closed

[2015-11-18 20:16] #34 closed

[2015-11-18 22:07] LordMike commented on #136
Should be working according to tests

[2015-11-18 22:07] #136 closed

[2015-11-19 06:04] SounakBanerjee commented on #158
I mean, the credits that are returned, are only the last season credits. Not for earlier seasons.
For example, if a series has two seasons, and there is an actor A in season 1, and another actor B in season 2, I would get only B as the result of the series credits.
So I'm asking, if there is a method which will return both cast of season 1 & 2.
Try 'True Detective' as an example. It does not retur

[2015-11-19 13:10] DanCooper opened #160 "HTML decoding for Plot"
Hi
it will be great if you can add HTML decoding for plot. This is the only field that can have encoded characters:
https://www.themoviedb.org/talk/564ae26bc3a3686031002638

It's no problem to decode it in my code, but i think it will be great to receive all API results in decoded format (like Title is by default).

[2015-11-19 17:20] LordMike commented on #158
Could you link to where it's done pr. season?

I'm missing the part on how to remediate it in this library :)

[2015-11-19 17:27] LordMike commented on #160
From what I see, it's the field `overview`, right?
I wonder how we could do that without depending on something crazy like `System.Web`.

[2015-11-19 17:28] LordMike commented on #160
I can otherwise see the point in ensuring that *all* fields are "raw"... And not all except a few here and there.

[2015-11-19 17:30] LordMike commented on #160
Asked travis if he'll fix it in his end..

[2015-11-19 17:34] LordMike commented on #158
Now I get it.

There are multiple methods for TV credits: `/tv/{id}/credits`, `/tv/{id}/season/{season_number}/credits` and `/tv/{id}/season/{season_number}/episode/{episode_number}/credits` (docs in links 1, 2 and 3).

You want a method that does not iterate all seasons, but fetches all credits (separately) in one go. This is not possible right now, but is discussed here: #36.

Unfortunately, due

[2015-11-19 17:34] #158 closed

[2015-11-19 18:15] DanCooper commented on #160
Yes, I meant Overview.
Thanks for asking Travis.

[2015-11-24 14:23] jensenkd opened #162 "Performance - Looking for others that have squeezed performance out of full movie pull"
I'm currently pulling the tmdb locally using this library.

workflow:

- Pull movies 1-latestId
-- foreach movie, pull genres, languages, countries, credits..

It's very slow and i'm trying to find ways to make this faster.

I'm thinking one approach might be to use a queue with multiple worker roles, picking off movies and processing them.

Any ideas?

[2015-11-24 15:04] Naliath commented on #162
You will quickly run into the max allowed queries per time unit (check the site for details). You might be able to obtain a db dump from travis (check in the forums)

[2015-11-24 15:05] #162 closed

[2015-11-25 11:37] koikic opened #163 "Windows 10"
Hey LordMike,

Thanks for you work.

I have some problem when i want to use your API on Windows 10 : Universal APP,

Following errors :

Install-Package : TMDbLib 0.8.3 is not compatible with UAP,Version=v10.0.
Au caractère Ligne:1 : 1
+ Install-Package TMDbLib -Version 0.8.3
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
    +

[2015-11-25 11:42] Naliath commented on #163
we are aware of the issue. We need to remove the RestSharp dependency and replace it with System.Net.Http, but as of yet neither of us has had the time to do this. If you care to give it a shot feel free to kick over a pull request and we will review it.

[2015-11-25 12:20] koikic commented on #163
Thanks for your reply, i'will see, if I can change the reference.

[2015-11-25 20:00] LordMike opened #164 "Move to HttpClient"
The entire project should move to .Net's own HttpClient and Newtonsoft.Json. This is to become PCL compatibly and W8/10 Universal App-compatible.

Relevant:
#44, #163

[2015-11-25 23:17] LordMike opened #165 "Missing tv_episode_results and tv_season_results in FindContainer"
`TMDbLib.Objects.Find.FindContainer` is missing a property for `tv_episode_results` and `tv_season_results`.

[2015-11-25 23:22] LordMike opened #166 "TMDbLib.Objects.People.Person has redundant Credits property"
It is now covered by `MovieCredits` and `TvCredits`

[2015-11-25 23:31] LordMike opened #167 "Create a form of automated test of ALL properties on all base types to ensure proper serialization"
I think this is a necessity to ensure that the move from Restsharp to Newtonsoft goes smoothly. If this can be done using reflection, we'll have an upside of being able to remove some of the existing tests.

Thoughts:
* We can do optimistic checking, where we only test if properties have values (not null, not zero), or for lists we can test if *any* item contains a value for a given property. Ther

[2015-11-26 08:06] Naliath commented on #167
Sounds nice, not sure how solid we can get this though. The media item we choose will change continuously like in our current tests so it's hard to really nail it down. And some fields are just empty for some items. On the other had if we run through a list of say 10 items the property should come back in one of them.

I would not remove specific tests we have in favor of this, unless we can get i

[2015-11-26 09:22] mike-csis commented on #160
@Naliath, reg. what happens if Travis decides to do something. In the talk above, Travis writes:

"Hey Mike,

If there is ever a v4, yes, this would change and be how it gets returned but at this point there's too many clients expecting the data back in the current format. I don't like to make to data changes if I don't have to. It's been this way since 2012 (when v3 launched) so I will leave it b

[2015-11-26 09:23] LordMike commented on #160
@Naliath, reg. what happens if Travis decides to do something. In the talk above, Travis writes:

"Hey Mike,

If there is ever a v4, yes, this would change and be how it gets returned but at this point there's too many clients expecting the data back in the current format. I don't like to make to data changes if I don't have to. It's been this way since 2012 (when v3 launched) so I will leave it b

[2015-11-26 09:23] #160 closed

[2015-11-26 10:28] Naliath commented on #160
Should be fine, worst case is that we would decode already decoded data and might replace characters that should not be replaced. This will only present an issue in very few cases so nothing to worry about.

Date: Thu, 26 Nov 2015 01:23:24 -0800
From: notifications@github.com
To: TMDbLib@noreply.github.com
CC: thomas.vriens@outlook.com
Subject: Re: [TMDbLib] HTML decoding for Plot (#160)

@Naliath

[2015-11-26 17:21] LordMike commented on #160
Agreed. The moment v4 comes out, if ever, we'll push for unencoded data.

-----Original Message-----
From: "Thomas Vriens" <notifications@github.com>
Sent: ‎26-‎11-‎2015 11:28
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Cc: "Michael Bisbjerg" <michael@mbwarez.dk>
Subject: Re: [TMDbLib] HTML decoding for Plot (#160)

Should be fine, worst case is that we would decode already decoded data an

[2015-11-30 11:59] DanCooper commented on #4
Hi Mike

any news on this? My app crash every time I use a wrong TMDB ID. I've not found a way to handle that without Try/Catch.

[2015-11-30 12:14] DanCooper commented on #4
Ok, i think it crash only if someone use long instead of int32 as TMDB ID.

[2015-11-30 18:23] LordMike commented on #4
Hi. No. This is a very long-ago thing.
Have you found the root cause for your crash?

If you post a stack trace and/or a method + inputs, I or possibly @Naliath can help you debug.

-----Original Message-----
From: "DanCooper" <notifications@github.com>
Sent: ‎30-‎11-‎2015 13:14
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Cc: "Michael Bisbjerg" <michael@mbwarez.dk>
Subject: Re: [TMDbLib] I

[2015-11-30 18:28] DanCooper commented on #4
Yes, the issue was that i have tried a random number like "317132489468768487".
Maybe it was a little tooooo long for an integer ;-)
Ignore what I said, it's all ok, it was my fault.

[2015-11-30 18:29] LordMike commented on #4
In general you should catch exceptions, as we in any case will be unable to handle network level issues.

-----Original Message-----
From: "DanCooper" <notifications@github.com>
Sent: ‎30-‎11-‎2015 19:28
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Cc: "Michael Bisbjerg" <michael@mbwarez.dk>
Subject: Re: [TMDbLib] Implement error handling (#4)

Yes, the issue was that i have tried a random

[2016-01-10 19:02] ORRNY66 opened #168 "Discover movie by year"
Hello,
I need advice on how to filter movies by year. Thanks a lot

[2016-01-10 22:47] LordMike commented on #168
You can either use the `Discover` method, or use `Search`. Both allow you to do filtering based on the Year parameter.

[2016-01-10 22:47] #168 closed

[2016-01-11 17:40] LordMike commented on #167
Another issue is how to get the document which was parsed. Perhaps we can abstract the web-request so that the response is also stored elsewhere. Then in Unit tests, we'll overload the download method, keep the document and do some form of reflection-parsing / processing.

I'll put it on hold for now.

[2016-01-11 17:40] #167 closed

[2016-01-11 18:06] LordMike commented on #164
@Naliath how does this look?
I moved the rest of the methods over.

I have not yet removed the Restsharp implementation, as we still expose some ratelimiting options, which have not been reimplemented.

[2016-01-12 11:30] Naliath commented on #164
Looks good at first glance. Only comment I have is that it seems like there are a few .ConfigureAwait(false) missing on some of the awaited calls

[2016-01-12 11:31] Naliath commented on #164
I saw your inital implementation after I created my own branch and since I don't have much time anyway I figured I would wait for yours. (First kid is due in a few weeks ;))

I'll take a look at the rate limiting this evening see if I can throw out the restsharp reference entirely

[2016-01-17 14:14] johnruth opened #169 "Add support for new release_dates movie endpoint"
With this new endpoint, we'll be able to determine if a release date falls into the following categories: Premiere, Theatrical (limited), Theatrical, Digital, Physical, TV.

http://docs.themoviedb.apiary.io/#reference/movies/movieidreleasedates
https://plus.google.com/+TravisBellTMDb/posts/4uNG5uSwtfe?hl=en
https://plus.google.com/+TravisBellTMDb/posts/QBBfnub4ADc

[2016-01-18 20:28] LordMike commented on #164
@Naliath I went ahead and did something ... It seems to work.
Also, I realised that TMDb tells us how many seconds to wait, and that setting MaxRetry = 0 is the same as setting ThrowExceptions ... :)

I've reduced it a lot - also I finally removed the RestSharp reference.

[2016-01-18 20:48] LordMike commented on #164
I found some bugs in the way I did it - so I rewrote the retry-logic.. Stand by :P

[2016-01-18 21:01] LordMike commented on #164
Should be all good now, @Naliath

[2016-01-19 09:19] Naliath commented on #164
added some comments to the individual checkins. My daughter was born last week and about 7 weeks early so I was busy before getting stuff ready but now everything has gone in overdrive :p

[2016-01-19 16:38] LordMike commented on #164
Congratulations :)
I'll look at the stuff.

[2016-01-19 16:40] #169 closed

[2016-01-19 17:12] #4 closed

[2016-01-19 17:15] LordMike commented on #164
PR #171

[2016-01-20 22:49] #164 closed

[2016-01-20 22:55] LordMike commented on #163
@koikic I just pushed a version `0.9.0.0-alpha` to Nuget. Could you try that out?

[2016-01-20 22:56] LordMike commented on #44
@DynamicDave we've just worked up a `RestSharp` replacemnet using `HttpClient`. Could you try this out?

Note that the library is now completely `async`, so you might have to change a few calls. :)

[2016-01-23 23:31] crega commented on #163
Hey, I'm new to c# I have project to make use of this Library. i intent to create Win10 UWP that works on Desktop and Mobile device.How can I use classes from TMDBLib project in my own project. I tried to reference TMDBLib project to my project but it won't allow it to me. Then I added in same solution 3 projects that You provided (LibTest Lib and Test) still no luck. I hope I am not boring with t

[2016-01-25 13:08] Naliath commented on #163
@crega try to use the nuget package referenced by LordMike (do not forget to check the include prerelease option). For more info about nuget I suggest you google around a bit, there is plenty of info out there. This is also only the first version that should work with UWA's so it might not work that well...

In all honesty if you are just starting out you be better off just following some of the t

[2016-01-26 14:49] mike-csis commented on #163
@crega we haven't actually gotten to the point of supporting UWP's yet. Once I get more time, I can perhaps make the final push towards getting a version that will compile, and hopefully work, with .NET PCL. No we at least have the dependencies out of the way ;).

[2016-01-26 14:50] LordMike commented on #163
@crega we haven't actually gotten to the point of supporting UWP's yet. Once I get more time, I can perhaps make the final push towards getting a version that will compile, and hopefully work, with .NET PCL. No we at least have the dependencies out of the way ;).

[2016-01-26 14:54] crega commented on #163
Oh i GET It now , its ok untill then I will use another library that is
compatible
uto, 26. sij 2016. u 15:50 Michael Bisbjerg <notifications@github.com>
napisao je:

[2016-01-26 23:03] Naliath commented on #44
Make a quick PCL version, right now just put a new project next to the old one. I didn't make any namespace changes so should be able to just dump the new over the old after changing the project name and project namespace

@LordMike You care to take a look? Just ran the test app and that looks fine, didn't check in more detail. Just felt like hacking something together :)

[2016-01-26 23:19] LordMike commented on #44
Thought of doing the same. I'll try looking tomorrow. I imagine, for history's sake, we'll do a commit that simply changes the project type, instead of moving files :P.

-----Original Message-----
From: "Thomas Vriens" <notifications@github.com>
Sent: ‎27-‎01-‎2016 00:03
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Cc: "Michael Bisbjerg" <michael@mbwarez.dk>
Subject: Re: [TMDbLib] Portable

[2016-01-27 17:30] LordMike commented on #44
I'm trying it out now. It seems very promising - running tests take time though.

[2016-01-27 17:48] LordMike opened #172 "Change use of [Description] to be usable in PCL"
#44

https://stackoverflow.com/questions/18912697/system-componentmodel-descriptionattribute-in-portable-class-library

We need to change the `EnumExtensions.GetDescription` method.

Code from @Naliath:
        public static string GetDescription<T>(this T enumerationValue) where T : struct
        {
            Type type = enumerationValue.GetType();
            if (!type.GetTypeInfo().IsEnum)

[2016-01-27 17:52] LordMike opened #173 "Create alternative to QueryString collection for PCL"
Parent: #44

We use a special `NameValueCollection` in `DiscoverBase` - change this to something else.
@Naliath found this (https://stackoverflow.com/questions/20268544/portable-class-library-pcl-version-of-httputility-parsequerystring).

It has a bug though, in its indexer. If you set a parameter not previously added, it will crash on you.

[2016-01-27 17:53] LordMike commented on #44
@Naliath looks really good. I've created issues for the two problems I found running tests. You already took care of the Description thing - but the HttpValueCollection I might rewrite to something smaller.

[2016-01-27 18:45] LordMike commented on #172
@Naliath see the associated PR: #174

[2016-01-27 18:45] LordMike commented on #173
@Naliath see the associated PR: #175

[2016-01-28 19:36] #172 closed

[2016-01-28 19:36] #173 closed

[2016-01-29 09:18] Naliath commented on #44
Good job, yea the HttpValueCollection was just something I grabbed to get it to work and changed it only where there where issues getting things to build.

Besides the things you changed there where some issues with enums that I'm not sure I got a 100% replacement for. It seems PCL does not support the binding flags we used before to filter properties so it might be we are casting the net a bit wi

[2016-01-29 09:21] Naliath commented on #163
Gonna just close this up, please refer to #44. When that issue is resolved so will this

[2016-01-29 09:21] #163 closed

[2016-01-29 09:24] Naliath commented on #36
There is a maximum number of calls one can make and each of these chained calls counts to that limit. So if we decide to implement this we should take this into account and perhaps split the seasons over multiple calls.

[2016-01-29 12:21] LordMike commented on #44
Yea I noticed. I think I got it covered though by changing the enum type check, and then only taking a field who's value is equal to what were looking for.

It wont work for flag types though. By then again, neither did the previous code.

Reflection is severely limited in pcl. Also, inspecting the code behind the extension method for get fields revealed a "return null". Reading up on it, it seems

[2016-01-29 12:27] Naliath commented on #44
yea for now it should be fine, if we ever run into issues we can still dumb it down

[2016-01-29 20:38] ORRNY66 opened #176 "How to get a movie director"
Hello,
I need advice on how to get a movie director. I tried almost everything, but I do not know what to do. Thanks a lot.

`           Movie movie = client.GetMovie(157336, "en", MovieMethods.Credits);
            foreach (Crew result in movie.Credits.Crew)
            {
                Console.WriteLine(result.Name);
            }`

[2016-01-29 23:03] LordMike commented on #176
Are you certain the director exists on that movie? From a glance ... It looks like the code is correct.

Reg.
Mike

-----Original Message-----
From: "ORRNY66" <notifications@github.com>
Sent: ‎29-‎01-‎2016 21:38
To: "LordMike/TMDbLib" <TMDbLib@noreply.github.com>
Subject: [TMDbLib] How to get a movie director (#176)

Hello,
I need advice on how to get a movie director I tried almost everything, bu

[2016-01-30 18:33] ORRNY66 commented on #176
Yes Use this code to get everything [https://www.themoviedb.org/movie/157336-interstellar/cast](url) . But there is some method by which I acquired only a film director. Thanks a lot

[2016-01-30 20:15] LordMike commented on #176
The code you provided will list 108 crewmembers, where one of them is "Christopher Nolan" with the `Job` "Director". Is this not correct?

[2016-01-31 15:14] ORRNY66 commented on #176
Yes, it is okay. But I'm interested in whether it will get a list of 108 crew members just certain categories, for example, Directing, Writing. Using this code, I am able to get only actor to the list of 108 crew members. It is therefore somehow acquire only certain categories?

`Movie movie = client.GetMovie(157336, "en", MovieMethods.Credits);
 foreach (TMDbLib.Objects.Movies.Cast result in movi

[2016-01-31 17:14] LordMike commented on #176
This is not possible using the TMDb API. So unfortunately not.

Sorry about that.

[2016-01-31 17:14] #176 closed

[2016-02-01 13:32] ORRNY66 commented on #176
I solved it. Maybe it can be useful to others.

`           string directingIds_15 = string.Empty;
            int temp = 0;

              for (int i = 0; i < movie.Credits.Crew.Count; i++)
              {
                  if (movie.Credits.Crew.ElementAt(i).Department == "Directing")
                  {
                      directingIds_15 += movie.Credits.Crew.ElementAt(i).Id.ToString() + "/"

[2016-02-17 22:01] Wolf-Code commented on #165
This.

[2016-02-22 10:29] DanCooper opened #177 "Crash: "Error converting value {null} to type 'System.DateTime'. Path 'episodes[0].air_date', line 1, position 45.""
The API 0.9.0-alpha crash if I try to scrape the season 0 (season specials) from tv show "Homeland".

API Call:
`GetTvSeason(1407, 0, TMDbLib.Objects.TvShows.TvSeasonMethods.Credits Or TMDbLib.Objects.TvShows.TvSeasonMethods.ExternalIds)`

Exception:

`"Error converting value {null} to type 'System.DateTime'. Path 'episodes[0].air_date', line 1, position 45."`

[2016-02-22 10:35] Naliath commented on #177
so basicly air_date needs to be nullable and this should be fixed

[2016-02-22 10:38] Naliath commented on #177
8e93dd7ea8345cfd7e5b0f1b19d546510cd1ba3a

[2016-02-22 10:38] #177 closed

[2016-02-22 10:40] DanCooper commented on #177
Faster than the speed of light :-) Thx!

[2016-02-22 10:53] Naliath commented on #177
Let me know if it gives you any trouble. Now it is aligned with the property on the movies object so I don't expect an issue

[2016-02-22 16:52] LordMike opened #178 "Naming of Async methods"
Just realized we don't follow normal convention, even though it was discussed in #63. If we ever want to make Sync methods again, it's best to have all methods named `*Async`.

@Naliath agree?

[2016-02-22 20:05] Naliath commented on #178
yea sure, we are breaking form with making them async anyway

[2016-02-22 21:35] DanCooper opened #182 "Handling of not existing movies/tvshow/season/episodes"
I've tried to get results with **wrong** IDs and noticed that not all functions give back the same results for not existing media:
`GetMovie` returns Id `0`
`GetTvShow` returns Id `0`
`GetTvSeason` returns Id `Nothing`
`GetTvEpisode` returns Id `Nothing`

Is there a reason for that? I think it would be easier for the user, if always the same result can be expected (IMO it should be Nothing)

[2016-02-22 21:38] LordMike commented on #182
Are you requesting existing movies and shows here, and the objects contain an incorrect Id?

We do some patching so that we can reuse objects. F.ex., in many properties off of the main object, there is an Id field. This is not set in the response from TMDb, but we "patch" it by setting it manually so that you can use the object (the property) as if it were an individual response. Is this a case of

[2016-02-22 21:53] DanCooper commented on #182
No, i've tried to compare the results for movies, tv shows, season and episodes that are not listed on TMDB. For that i've use fictional IDs that do not exist like:
`GetMovie("tt66666666")`
`GetTvShow(66666)`
`GetTvSeason(66666, 99)`
`GetTvEpisode(66666, 99, 99)`

`GetMovie` and `GetTvShow` return `0` as `Result.Id`
`Get TvSeason` and `GetTvEpisode` return `Nothing` as `Result.Id`

IMO all functio

[2016-02-22 21:56] LordMike commented on #182
I was just looking over this and came to realize: We return default objects for bad responses... Damn.

I had convinced myself we threw exceptions (this is related to #4). Maybe we should - either that or we return Null on errors (and then we lose a way of telling what went wrong). We have three options as I see it:

1. Throw exceptions
2. Return nulls or `default(T)`-equivalents
3. Wrap everythin

[2016-02-22 21:59] DanCooper commented on #182
Exactly, earlier was the result Nothing, right?

[2016-02-22 22:07] LordMike commented on #182
It might be. We changed from `Restsharp` to custom webcode using `Newtonsoft.Json`.. Restsharp might have thrown exceptions on error responses.... woops.

[2016-02-22 22:09] DanCooper commented on #182
No problem, thank you for your good work.

[2016-02-22 22:10] LordMike commented on #182
Scratch that. I just went back in code and made a request as I did before. Restsharp also gave us responses (and no exceptions). Many methods just return `Response.Data` which can then be blank (e.g. `default(T)`).

So no big change, currently ... But we "should" issue exceptions, or something.

[2016-02-22 22:32] LordMike commented on #182
@Naliath take a look at my code. It will throw exceptions at the base layer (thank god that was centralized :D). These will bubble up with the associated infoes attached.

I've seen in ElasticSearch's client, NEST, that they have a `ThrowExceptions` property on the client, which will determine if errors are reported via. exceptions or via. properties in the response objects. We could do the same,

[2016-02-23 09:47] Naliath commented on #182
mmm I think you are on the right track other than the not found part. I corrected part of the RestSharp implementation and can confirm it did not throw any errors at any time. your data would be null and an error property would be set. Based on that we then threw some errors on our side if needed.

For this library I don't like the not found exception, it adds overhead and doesn't really help the

[2016-02-23 21:52] zmhtike opened #183 "How to get popular movies"
I need some advice please. I am trying to use discover to get popular movies as follow:

DiscoverMovie popular = client.DiscoverMovies().OrderBy(DiscoverMovieSortBy.PopularityDesc);

I do not get any result. I think it is not right. Could you show me how to use Discover to get popular movie list. Thanks alot!!!

[2016-02-23 22:00] zmhtike commented on #183
I found GetMovieList that can get popular movies. But I still want to know how to use DiscoverMovie class.  Thanks.

[2016-02-23 22:03] LordMike commented on #183
Oh, I just noticed why. You're not completing the query using `Query()`.
The `DiscoverMovie` class is just a wrapper around a query.

Example:

    SearchContainer<SearchMovie> result = client.DiscoverMovies().OrderBy(DiscoverMovieSortBy.PopularityDesc).Query().Result;

[2016-02-23 22:03] #183 closed

[2016-02-23 22:08] LordMike commented on #182
So if I change the internal stuff (`RestResponse` etc.) to include stuff like the return code, then the individual methods can determine what to do and how to handle errors / blanks. ?

[2016-02-23 22:15] #178 closed

[2016-02-23 22:15] #166 closed

[2016-02-23 22:15] #165 closed

[2016-02-23 22:15] #122 closed

[2016-02-24 07:20] Naliath commented on #182
Sounds good. Only thing that would be removed from your general code is the not found handler and setting the code (possibly a isSuccessfull helper). in the methods themself we then might need to change some datatypes

[2016-02-24 22:22] LordMike commented on #182
Check out the latest code. It contains a setup where `GetMovie()` returns null on notfound. It throws exceptions on bad responses.

A number of tests now fail because the tested methods normally returned `false` or similar on bad responses, where we now throw exceptions.

To finish this, I will have to go through each method and determine the correct response given an error case. ... should be int

[2016-02-25 07:41] Naliath commented on #182
Looks good, only thing I could see was this  if
(!_response.IsSuccessStatusCode)
 +            {
 +                Task<string> content = GetContent();
 +                Task.WaitAll(content);
 +
 +                Error = JsonConvert.DeserializeObject<TmdbStatusMessage>(content.Result);
 +            }

That might throw and exception if there is a connection issue or something (just looking from t

[2016-02-25 17:51] LordMike commented on #182
I've tested a little with no network and with odd responses (such as a proxy in between that throws "502" responses). The result is committed to the branch.

I've also greatly simplified the response object and decided that the content should be eagerly fetched.

[2016-02-25 22:39] tidusjar opened #184 "SearchTv type"
It seems that the type `SearchTv` is missing some information e.g. `overview`.

Looking at the code it seems to be there but it is not included in my assembly (0.8.3.0 from Nuget)
Why is this?

[2016-02-25 23:11] LordMike commented on #184
Reg. the version stuff, it may have been added later on. A "blame" for the file (https://github.com/LordMike/TMDbLib/commit/b5ac0dd8d1a17eda6a7d1212f36667abeef98b65) shows that I added that specific field in July last year.

On the NuGet page, you can see that the 0.8.3 package is not the latest (albeit latest "stable"). So try out f.ex. https://www.nuget.org/packages/TMDbLib/0.8.6-alpha or even m

[2016-02-25 23:13] tidusjar commented on #184
Thanks,

I downloaded and compiled the master solution and added the assembly. Changed it all to async/await methods and the tasks was not completing (faulted status). Then I used 0.9 and everything works fine. Strange!
Great library. If you need any work done is be happy to contribute.

[2016-03-01 08:59] DanCooper commented on #177
Any release date for a new NuGet package with this fix? :-)

[2016-03-01 17:58] LordMike commented on #177
Not yet. A lot of changes will happen.
I can make a pre-release though?

[2016-03-01 18:01] DanCooper commented on #177
That will be great. That's the only bug in your TMDB API that crashes our software. All other issues can be handled.

[2016-03-01 18:06] LordMike commented on #177
I'll see to it then.

[2016-03-01 18:15] LordMike commented on #177
@DanCooper
I haven't done much testing on this (I just compiled `master` in release mode)
https://www.nuget.org/packages/TMDbLib/0.9.0.1-alpha

I should probably run the test suite.. :P

[2016-03-01 22:36] LordMike commented on #177
@DanCooper I ran the test suite and all looked good. `0.9.0.1-alpha` _should_ be stable.

[2016-03-01 23:00] DanCooper commented on #177
I've installed the package 2min after it was on Nuget :-) and it works great for me, many thanks.

New alpha version of Ember Media Manager is released and looks like it works for all users.

[2016-04-04 13:37] DanCooper opened #185 "crash if TVSeason.ExternalIds.TvrageId is not an integer"
Found a new bug with `ExternalIds.TvrageId`. Looks like it can also be a `String` and not only Integer.

TMDB API Result of The Simpsons, Season 1:
`"external_ids":{"freebase_mid":"/m/0cmqz_","freebase_id":"/en/the_simpsons_season_1","tvdb_id":"2727","tvrage_id":"/the-simpsons/episode_list/1"`

It's little bit confusing, TMDB displays 0 on [website](https://www.themoviedb.org/tv/456-the-simpsons/s

[2016-04-04 13:45] Naliath commented on #185
fixed  44a3e4a

[2016-04-04 13:45] #185 closed

[2016-04-23 16:11] kartikeyaj0 opened #186 "outdated readme.md"
readme.md needs to be updated to  the latest version.

[2016-04-25 17:43] DanCooper opened #187 "External_Id: Integer vs. String"
Looks like you should also change the TVDB ID value type to String:
https://www.themoviedb.org/talk/57165202925141387d009e8b

[2016-05-19 20:35] #184 closed

[2016-05-19 20:41] #187 closed

[2016-05-19 20:47] #186 closed

[2016-06-16 09:06] agoretsky opened #188 "Will you support CoreCLR?"
Do you have any plans to porting TMDbLib over CoreCLR?

[2016-06-16 09:42] Naliath commented on #188
If the PCL version ever sees the light of day it should be usable from Core libraries

[2016-06-20 09:58] Lynk5 opened #189 "GetChangesMoviesAsync() Needs to return "Adult = null" not "false""
Hi !

After verification with the TMDB API support, the intended behaviour of this method is to return updates/changes operated on movies. In order to indicate that a movie has been deleted, one may use the flag "Adult=null" which is automatically converted to false in the Wrapper.

I updated the code locally by just removing the : "[JsonConverter(typeof(TmdbNullBoolAsFalse))]" attribute and chang

[2016-06-22 19:06] LordMike commented on #189
Oh god. Not that boolean again... :/

Could you link to the API discussion?
I'll make the adult field nullable then.

[2016-06-23 09:06] Lynk5 commented on #189
Sure !

Here is the link toward the TMDB forum post : https://www.themoviedb.org/talk/57613344c3a36808aa001497

Moreover, do you intend to use the Inversion of Control (IoC) pattern and therefore create interfaces that would allow creating stubs of the C# API for local testing ?

Regards

Lynk5

[2016-06-25 05:04] johnruth opened #190 "MonoAndroid framework compatibility"
I'm working on a Xamarin native Android app and I got the following error when trying to add the NuGet package.

"Could not install package 'TMDbLib 0.9.0.3-alpha'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v6.0', but the package does not contain any assembly references or content files that are compatible with that framework."

I'm not too familiar wi

[2016-07-03 13:04] #189 closed

[2016-07-03 13:26] LordMike commented on #190
Apparently my response to the email didn't reach here.
Heres what I wrote:

We only target .net 4. So any other framework will need a specific build for it.

You can fetch the source code instead, and then change the target to monoandroid. Then reference your version of the library rather than the nuget.

[2016-07-03 13:27] #190 closed

[2016-07-03 13:27] LordMike commented on #188
It seems something is broken with replying by email. Here's what I wrote on the 16th.

Well. The ground work was laid but then a larger project started at work… and now I’m stuck in spain with a festival coming up in the next few weeks…

We removed the restsharp integration and “rolled our own”. That removed the #1 reason not to go core.

Can we do a core/PCL without having more than one project a

[2016-07-05 02:02] jensenkd commented on #188
I can't wait for this!  Is there any reason why it wouldn't compile to .net core now that restsharp is gone?

[2016-07-05 08:58] Naliath commented on #188
For reference, we might need 2 versions: A core lib and a PCL lib (regular). As I understand it should work but might not atm. MS releases 2 versions of all their stuff as well atm a regular version and a core version

https://github.com/aspnet/Home/issues/1356.

[2016-07-18 18:04] LordMike commented on #188
I've been working a little with Core projects for a few days now, and decided to give TMDbLib a go.
I've created a Core library project, and copied over all the TMDbLib files. I've then added `net45` as a framework in addition to `netcoreapp1.0` .. so far so good.

Then I've fixed the compile issues (minor things) - all good.

VS builds two libraries for me on compile (present in `bin\Debug\net45`

[2016-07-18 18:50] LordMike opened #191 "Upgrade Newtonsoft reference"
`7.0.1` is a bit old... no?

[2016-07-18 19:03] jensenkd commented on #188
Boom! Sweet music to my ears Mike.

[2016-07-18 19:11] LordMike commented on #188
@jensenkd I have some issues though. I suspect they're purely IDE related: I cannot keep the Tests and the TestApplication in .NET 4.5 and reference the new Core project. A number of issues crop up on Google related to referencing `xproj` from `csproj`.

I suspect it's purely cosmetic (VS/MsBuild picks the wrong build), as I can reference the compiled assemblies just fine.

[2016-07-18 19:25] LordMike opened #192 "Convert TestApplication and Tests to Core"

[2016-07-18 19:42] LordMike commented on #188
@jensenkd try:

`Install-Package TMDbLib -Version 0.9.1.1-alpha -Pre`

[2016-07-18 19:52] LordMike opened #193 "Core: System.Runtime.Serialization.Primitives"
In a simple Core app:

    TMDbClient client = new TMDbClient("c6b31d1cdad6a56a23f0c913e2482a31");

    SearchContainer<SearchMovie> xx = client.SearchMovieAsync("Thor").GetAwaiter().GetResult();

    Console.WriteLine(xx);

The SearchMoveAsync fails with:

    Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime.Serialization.Primitives, Version=4.

[2016-07-18 19:59] LordMike commented on #193
Seems this is an issue with Newtonsoft. A newer version of .Net Core removed the primitives assembly, so it was suddenly required. Newtonsoft `9.0.1` seems to fix the issue.

#191 will fix this.

[2016-07-18 19:59] #193 closed

[2016-07-18 20:01] #191 closed

[2016-07-18 20:45] Naliath commented on #188
Cool that you got it working in one nuget. Wonder why they made 2 packages for the MS dotnet stuff, possibly the source that is different enough?

[2016-07-18 21:16] LordMike commented on #188
I have no idea what I did. They built the tool for me (thank god - I feared the Nuget part)..

I'm currently working on Tests - almost nailed it. (Had to rewrite all tests to xUnit - so I've just done a lot of replaces ...)

[2016-07-18 21:26] #192 closed

[2016-07-18 21:31] LordMike commented on #188
@jensenkd Fixed a few issues with Core and upgraded Newtonsoft: `Install-Package TMDbLib -Version 0.9.1.2-alpha -Pre`

@Naliath Now tests are working and migrated to Core.

[2016-07-18 21:32] LordMike commented on #44
@DynamicDave Check out the `0.9.1.2-alpha`. It's been migrated to work with Core apps. I'm unsure how this works with PCL (they're the same - now?)..

[2016-07-19 08:25] agoretsky commented on #68
@LordMike, how about temporary ignore error of this particular field to provide object with all another fields instead of exception?
Like this:

        public class Test
        {
            [JsonProperty("date")]
            public DateTime? MyDate { get; set; }

            [JsonProperty("name")]
            public string Name { get; set; }
        }

        public static void Main(string[] a

[2016-07-20 20:26] LordMike commented on #68
@agoretsky check out [0.9.1.3-alpha](https://www.nuget.org/packages/TMDbLib/0.9.1.3-alpha).

[2016-07-20 20:26] #68 closed

[2016-07-21 08:10] agoretsky commented on #68
@LordMike, thank you!

[2016-07-21 19:56] #188 closed

[2016-07-21 22:28] LordMike opened #194 "Throw errors when TMDb fails"
Probably an oversight, but `SendInternal` returns the message regardless if it succeeds or not. We should probably throw some error in case of f.ex. HTTP 500.

[2016-07-21 23:50] LordMike opened #195 "Cleanup types in TMDbLib"
A number of types are equivalent, and others can be simplified by using inheritance. Examples:

### Identical
* TMDbLib.Objects.Movies.ListResult <-> TMDbLib.Objects.Lists.List

### Almost similar
* TMDbLib.Objects.Search.SearchList <-> TMDbLib.Objects.Lists.AccountList
* TMDbLib.Objects.Search.KnownForTv <-> TMDbLib.Objects.Search.SearchTv

[2016-07-26 10:53] tidusjar opened #196 "SearchMovie return the IMDB Id?"
Hi,

Is it possible to include the IMDB Id in the result of `SearchMovie()` ?

It currently returns type `SearchContainer<SearchMovie>` and `SearchMovie` doesn't contain the IMDB id, but if we looked up an individual movie using `GetMovie` the results contain an imdb id.

Referenced issue: https://github.com/tidusjar/PlexRequests.Net/issues/400

[2016-07-26 17:39] LordMike commented on #196
Hi. Could you check if the TMDb docs mention an IMDB Id?

We most likely don't include it because they don't provide it.

[2016-07-26 18:54] tidusjar commented on #196
Good point. They don't provide it. Awesome Lib though! Using it in PlexRequests.Net!

[2016-07-26 18:54] #196 closed

[2016-08-01 20:52] LordMike commented on #145
@danielnachtrub check out the new `SearchMulti`

[2016-08-01 20:53] #144 closed

[2016-08-01 21:24] LordMike commented on #196
Cool. Let me know if there are any issues with the library. I know there may be some inconsistencies with f.ex. thrown exceptions or method names.

[2016-08-09 18:54] LordMike opened #197 "Alter ChangeItem to change type based on the Action property"
It seems that the `ChangeItem` object from TMDb changes properties / layout, whenever it goes from e.g. an `added` to a `created` or `updated` type.

We should model this into three separate classes, like what has been done with `KnownFor`, and then apply similar trickery.

[2016-08-09 20:09] #197 closed

[2016-08-10 00:12] Tar4s opened #198 "UWP platform"
Can you migrate this API to UWP platform? It will be great!

[2016-08-10 16:39] LordMike commented on #198
I can't see why not .. I'll try to figure out what the moniker for UWP is.

[2016-08-10 18:42] LordMike commented on #198
@Tar4s could you check out `0.9.6.0-alpha` on Nuget?

[2016-08-10 18:47] #195 closed

[2016-08-10 18:47] #44 closed

[2016-08-10 18:51] LordMike opened #199 "Release 1.0"
@Naliath .. have you had a look at the project lately? I've dedicated a bit of time over the last few weeks, and I've squared off a number of the outstanding issues.

We've always had the issue of checking if our objects match the response, and previously we went the tedious road of fact checking every property (and adjusting when the source changes). I've set up a system that automatically valida

[2016-08-10 19:07] Naliath commented on #199
@LordMike yea been follow8ng along but between work and the familly there has not been much time left over :). If there is something specific you would like a second opinion on or something I can implement just ping me and I'll find some time

[2016-08-10 19:39] LordMike commented on #199
No specifics - just wondering if it all works or if I'm in my own little happy bubble :P

[2016-08-10 20:07] tidusjar commented on #199
@LordMike when you sAy API changes, is there any breaking changes or a change log?

[2016-08-10 20:09] LordMike commented on #199
There will be some breaking changes, but they should all be handle-able. Most of them stem from the fact that TMDb have removed properties on their objects (which I've accounted for). The Changelog is incomplete, but I've tried to keep it updated (it's in the Readme).

All methods should work as they did before - that is, if it still compiles, nothing should have changed. :)

[2016-08-10 21:44] Tar4s commented on #198
@LordMike course! one moment

[2016-08-10 23:09] Tar4s commented on #198
@LordMike Everything connects perfectly! But unfortunately, I use bindings. So, i must working with classes and fields marked as [DataMember] and [DataContract]. JsonProperty does not work with bindings. My program in XAML doesn't see necessary classes, and i can't compile the code :(

[2016-08-11 09:40] ebadola commented on #199
Hi guys I have problem  when i get movie

thi is code

            TMDbLib.Client.TMDbClient cl = new TMDbLib.Client.TMDbClient("ApiKey");

                TMDbLib.Objects.Movies.Movie movie = cl.GetMovieAsync(47964).Result;

an error

(Inner Exception #0) Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.
   at Newtonsoft.Jso

[2016-08-11 09:42] tidusjar commented on #199
Upgrading from `0.9.0-alpha` to `0.9.6-alpha` we now have a dependency on System.Net.Http?

[2016-08-11 17:00] LordMike commented on #199
@ebadola that looks like you received not-json from TMDb.. As in something with XML.. Can you possibly intercept (like with Fiddler) and see what's going on?

@tidusjar yes - the entire client is now Async. All methods were back then renamed to *Async to ensure that A) You realize the change and B) if we ever do Sync counterparts it wouldn't break in the future. If you append a `.Result`, you'll g

[2016-08-11 17:26] LordMike commented on #198
This is if you're sending the TMDbLib objects over your WCF channels as just that - objects, right?

I *could* mark everything with DataMember and DataContract - but is this a good idea?

[2016-08-11 17:29] LordMike commented on #199
@tidusjar reg. the Net.Http. We moved away from RestSharp which has its own network connection/HTTP stuff - but without it we needed two things: Json serializer and HTTP clients. Instead of using WebRequest we opted to use HttpClient which is available in most platforms - just not some, such as Core.

If absolutely necessary, we *could* go over to Webrequest.. I don't think it will affect anything

[2016-08-11 17:38] tidusjar commented on #199
@LordMike Thanks for the reply. I was just wondering why, using WebRequest over HttpClient doesn't affect me in anyway :)

If you are curious to see what I am using your library for: github.com/tidusjar/RequestPlex

[2016-08-11 17:40] Tar4s commented on #198
@LordMike I can't say for sure, because I'm not familiar with all the subtleties. For the experiment, can you mark SearchMovie class only, which I need.

[2016-08-11 18:28] LordMike commented on #199
@tidusjar I noticed from other issues that you mentioned it there too. Let me know how it turns out :)

[2016-08-11 18:30] LordMike commented on #198
But is it because of WCF? For an experiment, you could fetch the code and compile yourself - adding the attributes as needed.

[2016-08-11 18:40] Naliath commented on #198
Should not matter for us. It does not affect our flow

Get Outlook for Android

On Thu, Aug 11, 2016 at 8:30 PM +0200, "Michael Bisbjerg" <notifications@github.com> wrote:

But is it because of WCF? For an experiment, you could fetch the code and compile yourself - adding the attributes as needed.

--
You are receiving this because you are subscribed to this thread.
Reply to this email directly or

[2016-08-11 18:53] LordMike commented on #198
I'm worried about referencing the Serialization primitives. From what I gather, they're not even available on all platforms, so in the worst case we end up with a huge bunch of #ifdef's.. And then I'd just rather not.

[2016-08-11 19:07] Naliath commented on #198
Valid point, @Tar4s I sugest wrapping the objects in your own dto's where needed and use something like automapper to transition between the 2 domains. This would also allow you to add things like INotifyPropertyChanged and such

[2016-08-11 19:09] Tar4s commented on #198
@LordMike now I see. support
@Naliath understood. will look for
thanks to all

[2016-08-11 19:12] LordMike commented on #198
Or, if you don't want to use AutoMapper, use the existing Newtonsoft.Json and simply Serialize what we give you, and then deserialize into your own DTO's.

Closing.

[2016-08-11 19:12] #198 closed

[2016-08-14 09:40] codemaster3000 opened #200 "Language Selection"
It is possible that i just cannot find it (sorry for that case):
TMDB has informations for each movies in different languages but how do i select a specific language in the search request ("EN", "DE", etc) ?

[2016-08-16 18:50] LordMike commented on #200
If DefaultLanguage is not setting for a single method, it might be a bug - check if the methods have an overload that accepts a language parameter.

[2016-08-16 19:47] codemaster3000 commented on #200
OK got the problem: The language string is case sensitive...when i input "DE" (for german) then the language is not recognized but with lower case "de" it works.

[2016-08-17 06:55] Naliath commented on #200
Interesting, I don't think it's us that make this into an issue but the api might. Perhaps we should lowercase the input of this field? Or change it over to a an enum but that might be more maintenance for little gain.

[2016-08-17 16:06] LordMike commented on #200
Perhaps we should. I'll raise an issue with tmdb to hear if it's always the case, and/or if we can get a static list of languages and countries.

Sent from my iPhone

[2016-08-17 16:27] LordMike commented on #200
https://www.themoviedb.org/talk/57b4907e925141712f000bd3

[2016-09-13 12:09] lersouza opened #201 "Handle Requests through a Proxy"
In .NET Core, to handle request through a proxy you must set a custom HttpRequestHandler and set the proxy property. One could check this here: [https://github.com/dotnet/corefx/issues/7037].

As it is encapsulated in the TMDbClient class, it is not possible to configure proxy manually. A way of doing this would be to check configuration. You could also receive an optional "settings" object in TMD

[2016-09-13 19:59] LordMike commented on #201
I would go the constructor way then. So you can provide the implementation of whatever httpclient can use.

This should do it?

A pull request setting it up would be appreciated :)

Sent from my iPhone

[2016-09-14 16:57] lersouza commented on #201
OK. Working on it.
I created the "issue-201-proxy-support" branch locally to work on this. Can it be created in this repo so I can push the code to it?

[2016-09-14 23:32] LordMike commented on #201
Normally you fork the project, create whatever branches you want.
Once done, you submit a pull request. :)

Mvh.
Michael

On Wed, Sep 14, 2016 at 6:57 PM, lersouza <notifications@github.com> wrote:

[2016-09-15 14:14] lersouza commented on #201
Great. Tks.

[2016-10-06 03:51] kevinXYX opened #203 "How to get cast image"
Hello how can i get people/cast/person images?

[2016-10-06 08:44] LordMike commented on #203
You should be able to use the `GetPersonAsync` call and give it a flag to include images: `PersonMethods.Images`. That, or use the specific person image method: `GetPersonImagesAsync`.

[2016-10-06 08:44] #203 closed

[2016-10-19 22:19] tidusjar commented on #199
How's the release looking?

[2016-10-21 11:51] LordMike commented on #199
Well. I'm always on the conservative side, always thinking what-if.
But if the current 0.9.6 works, then we could push that to 1.0.

[2016-10-27 17:12] LordMike commented on #199
ae4572713c942c8d6cd27b6fc80a1d4543dcc1a9

[2016-10-27 17:12] #199 closed

[2016-11-17 17:18] hrafnl opened #204 "Support for Xamarin.iOS"
I wanted to try TMDbLib with Xamarin.iOS (or Xamarin in general).

When I install the NuGet package, I get the following error:

Could not install package 'System.Net.Http 4.0.0'. You are trying to install this package into a project that targets 'Xamarin.iOS,Version=v1.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more i

[2016-11-19 17:19] LordMike commented on #204
Most certainly. Have you tried adding a target to the TMDbLib project.json file?

[2016-11-19 17:29] LordMike commented on #204
Correction - it is not directly possible yet.

https://github.com/dotnet/cli/issues/589

Until it becomes possible to have it built as part of the `dotnet`  suite, it's probably too much effort from my end.. Sadly. A workaround is:

* Include the TMDbLib code and create a project that targets any intended platform.
* Copy out the netstandard1.0 dll from the Nuget package, and reference it directly

[2016-11-30 15:13] hendrikbl commented on #146
This Feature is now implememted into the API via the region parameter: https://developers.themoviedb.org/3/movies/get-upcoming

Adding this should not be too hard :)

[2016-11-30 19:37] LordMike commented on #146
@hendrikbl actually, they explicitly state: "We do not yet support regional queries but this is coming soon." :)

If they do suddenly implement it - poke us again.

[2016-11-30 20:04] hendrikbl commented on #146
@LordMike Oh okay, sorry for that. The regions page said "Region supoprt is finally here!" so I thought they implemented it. And the parameter was listed so I did not read the rest of the page.
Thank you anyways :)

[2016-12-01 13:46] hendrikbl commented on #146
Sounds funny, but they suddenly implemented it, so heres my poke: 👈 😄

[2016-12-11 20:48] evpxregu opened #206 "License?"
Under what license is this library released?

[2016-12-11 22:48] LordMike commented on #206
Hmm. I hadn't thought of that.
Why do you ask?

[2016-12-19 12:16] Bukran opened #207 "NotImplementedException when serializing SearchMovie object"
Hi there.

I am receiving a NotImplementedException when trying to (Json) serialize a SearchMovie object.
I've noticed the problem comes from method WriteJson (SearchBaseConverter.cs) Is there any reason to leave it this way? Couldn't you just override ReadJson and leave the WriteJson part to the base JsonConverter?

`public override void WriteJson(JsonWriter writer, object value, JsonSerializer s

[2016-12-19 17:51] evpxregu commented on #206
I want to use it for a project, and am wondering if  I can legally do so.

[2016-12-19 18:53] LordMike commented on #206
@Naliath would you be ok with an MIT license?

[2016-12-19 20:15] Naliath commented on #206
Sounds good, it's not like we are doing anything revolutionary here. If it can some someone some time all the power to them

[2016-12-19 20:20] #206 closed

[2016-12-19 20:53] LordMike commented on #207
I kinda should've expected somebody to want to serialize stuff again. I'll look into creating writers for the various converters.

As for just relaying them to base, I think it might not work - not always at least. The converters should be transitive, meaning that serializing A to B should allow you to deserialize B back to A.

[2016-12-20 17:43] LordMike commented on #207
@Bukran I've made a number of changes in this direction.
You should be able to check it out once I get `1.0.1-alpha` up.

[2016-12-20 21:34] evpxregu commented on #206
Thanks guys!

[2016-12-21 06:54] Bukran commented on #207
That's great news @LordMike.
My team will really appreciate this promptness, thanks ;)

[2016-12-21 06:54] #207 closed

[2016-12-21 23:13] LordMike commented on #207
I found a number of issues when serializing certain types. So not all converters will be able to be converted. Not yet at least.

Did this alpha edition resolve your issue? (I assume it did since you closed the issue)

Sent from my iPhone

[2016-12-22 07:07] Bukran commented on #207
It did, indeed @LordMike. Thanks.
I didn't noticed 1.0.1-alpha was already up and was just waiting for the next major update.
I have already tried `SearchMovie` and `Movie` classes and they both serialize ok.

[2016-12-23 08:43] LordMike commented on #207
Great :)

Merry Christmas.

Sent from my iPhone

[2016-12-24 12:18] YuqseLx opened #208 "Page 1001 error"
Hey thank you for big work for this.
I got error when i want
await client.DiscoverMoviesAsync().Query(1001);
An error is http://prntscr.com/dne6ec
But he say when page = 1000
http://prntscr.com/dne6k6

Thanks for reply

[2016-12-24 19:18] LordMike commented on #208
Could be a bug on tmdb's end. Could you try directly against tmdb's API?

Sent from my iPhone

[2016-12-25 11:29] YuqseLx commented on #208
Ah yes it's a limit :/ Thank you

[2016-12-25 11:29] #208 closed

[2017-01-06 19:37] #201 closed

[2017-01-06 19:41] LordMike commented on #201
@lersouza thanks for the changes. I went through them and made a few minor edits (it also seemed like you never passed the WebProxy to the RestClient).

https://www.nuget.org/packages/TMDbLib/1.0.3-alpha

Ver. `1.0.3-alpha` includes your changes, and I was able to use my local Fiddler as a proxy with your code. :)

[2017-01-14 12:02] ebadola commented on #204
Hi Mike , what is your opinion about using https://github.com/restsharp/RestSharp instate of JSON.NET and  System.Net.Http,
and RestSharp support multiple platform

[2017-01-14 12:39] Naliath commented on #204
Not good since that was what we had... had to remove it exactly for compatibility reasons. Should be easy enough to build against a xamarin scope since we can push this as a plc assembly already.

In new terms we should be able to build against the .net standard platform

[2017-01-19 10:38] agoretsky opened #211 "Could not convert 'destroyed' to ChangeAction breaking change"
Hello!
try `await tmdbClient.GetMovieChangesAsync(435470, new DateTime(2017, 1, 17));`

[code]

[2017-01-19 12:32] agoretsky commented on #211
`await tmdbClient.GetTvShowChangesAsync(1920)`

![destroyed1](https://cloud.githubusercontent.com/assets/17613086/22106948/4f8a06d4-de5c-11e6-9533-cc137ed4ca6d.png)

`await tmdbClient.GetMovieChangesAsync(435470, new DateTime(2017, 1, 17));`

![destroyed2](https://cloud.githubusercontent.com/assets/17613086/22106961/5e520a18-de5c-11e6-843d-ae9d94b8fb91.png)

[2017-01-19 15:09] #211 closed

[2017-01-19 15:10] LordMike commented on #211
And one wonders what the difference of Destroyed and Deleted is ....

[2017-01-19 16:02] LordMike commented on #211
@agoretsky do you know of any documentation for this?

It seems the value could be a dictionary of String->JToken og String->String

[2017-01-19 16:05] agoretsky commented on #211
No, I don't

[2017-01-19 16:18] agoretsky commented on #211
@LordMike Could you please publish version with this fix to nuget?

[2017-01-19 17:03] LordMike commented on #211
I just did. It's `1.0.4-alpha`.

[2017-01-19 19:17] agoretsky commented on #211
Thanks

[2017-02-23 06:31] irriss opened #213 "TMDbClient.AccountGetRatedMoviesAsync does not return movie's rating"
The method `TMDbClient.AccountGetRatedMoviesAsync` returns object `SearchMovie` which does not contain field `Rating` however corresponding API method returns this field.

[2017-02-27 19:11] LordMike commented on #213
Seems to be correct :)
I'll have a fix up shortly.

[2017-02-27 19:16] #213 closed

[2017-02-27 19:18] LordMike commented on #213
It's up on Nuget, https://www.nuget.org/packages/TMDbLib/1.0.5-alpha.

Thanks for reporting :)

[2017-03-11 19:18] #204 closed

[2017-03-24 07:48] Naliath commented on #43
This has been changed, the GetTvShow method return a great deal more that the info mentioned above. All in all I think this issue is outdated and can be closed

[2017-03-24 13:10] LordMike commented on #43
Fair enough :)

[2017-03-24 13:10] #43 closed

[2017-03-24 13:53] Naliath commented on #182
@LordMike Did we ever merge this? Or in other words is this still an issue? I'm working on issue #36 and should have something this weekend (bit of a pain in the arse). After that I can pick this up if it is still an open problem.

[2017-03-24 23:19] LordMike commented on #182
I think I did something, but I never closed it because I didn't feel it was tested enough.
The surface area of this API is large, so testing all is cumbersome :P

But checking the code still reveals this:

                if (resp.IsSuccessStatusCode)
                    return resp;

                if (!resp.IsSuccessStatusCode)
                    return resp;

[2017-05-07 09:47] SR2k opened #216 "Always got Null using GetTvSeasonImagesAsync"
I don't know why but `GetTvSeasonImagesAsync` always returns with the property `Poster`=`null`. Yet `GetPersonImagesAsync` works perfectly in the exactly same codes.

[code]

Output:
[code]

[2017-05-07 20:10] Naliath commented on #216
Yo,

try with this data for me please
int breakingBad = 1396;
in season = 1
PosterImages images = await client.GetTvSeasonImagesAsync(breakingBad, season);

I just tried that and got results no issue using the latest version of the library.

FYI you can use the following to get the full img url:
Uri imageUri = client.GetImageUrl(size, imageData.FilePath);

This takes into account the urls that are

[2017-05-08 09:13] SR2k commented on #216
Yeah I've got what's going wrong there. I've being using Trakt.tv api to get season info. And it returns the TMDB Id of each seasons but what `GetTvSeasonImagesAsync` needs is the id of the seires. Yhakns a lot 👍

[2017-05-08 09:17] Naliath commented on #216
Ok, the seasonId is not really used much in the api. Usually it's simply the seriesid and season number.

[2017-05-08 09:17] #216 closed

[2017-05-17 12:00] FrederikBolding opened #217 "Get Recommendations for both movies and tv"
Calls to the "get recommendations" methods seem to be missing or am I misunderstanding something?

https://developers.themoviedb.org/3/movies/get-movie-recommendations
https://developers.themoviedb.org/3/tv/get-tv-recommendations

[2017-05-17 12:14] Naliath commented on #217
Did a quick check and this does seem to be something that is missing. I´ll see if I can add it later this week. It will depend largely on how well it fits in the existing object tree.

[2017-05-17 21:40] FrederikBolding commented on #217
It seems to be identical or close to the search result JSON :-)

[2017-05-20 08:43] Naliath commented on #217
https://github.com/LordMike/TMDbLib/pull/218

should be ok, as soon as @LordMike has a look it can be merged to base and a  new nuget build can be published

[2017-05-20 13:54] FrederikBolding commented on #217
Cool, thanks! 😄

[2017-05-23 12:28] FrederikBolding commented on #217
@Naliath When do you suspect that the pull request is going to be merged in?

[2017-05-23 13:35] Naliath commented on #217
If @LordMike does not get to it today, I'll do so in a few hours. I am not able to push a new nuget through so you will have to pull the branch and build your own.

[2017-05-23 18:50] #217 closed

[2017-05-24 20:26] Naliath commented on #217
Nuget should be up to date, let me know how it works out for you. You will need to use the prerelease version

[2017-06-09 12:30] DanCooper opened #219 "Crash while getting info for "Hercules: The Legendary Journeys""
TV Show: "Hercules: The Legendary Journeys"
TMDB ID: 4615

Looks like something is wrong with the data comes from TMDB (something with season number?) while scraping the tv show.

`GetTvShowAsync(4615, TMDbLib.Objects.TvShows.TvShowMethods.ContentRatings Or TMDbLib.Objects.TvShows.TvShowMethods.Credits Or TMDbLib.Objects.TvShows.TvShowMethods.ExternalIds)`

Here is a log of VS:

`bei System.Thread

[2017-06-09 13:19] Naliath commented on #219
for reference:
{
  "backdrop_path": "/yMy0hEckprt3rsXVXJDExKYKOud.jpg",
  "created_by": [
    {
      "id": 1222834,
      "name": "Christian Williams",
      "profile_path": null
    }
  ],
  "episode_run_time": [
    45,
    60
  ],
  "first_air_date": "1995-01-29",
  "genres": [
    {
      "id": 10759,
      "name": "Action & Adventure"
    },
    {
      "id": 18,
      "name": "Drama"
    },

[2017-06-09 13:20] Naliath commented on #219
there is a season with number null, seems like this should not be allowed so I'll send it along to Travis

[2017-06-09 15:03] Naliath commented on #219
Data has been fixed so should be OK when the cache clears on the api side. Props to Travis for the quick action

[2017-06-09 15:03] #219 closed

[2017-06-09 15:04] LordMike commented on #219
Did Highlander and In Plain Sight fail for the same reasons?

[2017-06-09 15:17] Naliath commented on #219
I'll check later, but Travis updated 60 others.

[2017-06-09 19:31] LordMike commented on #219
It's probably not a problem anymore then :)
Good job.

[2017-06-09 19:59] DanCooper commented on #219
Works now. Thank you for the message to TMDB!

[2017-06-18 18:03] FrederikBolding opened #220 "PersonGender Crash with GetTvSeasonAsync"
I seem to be getting this crash recently when using GetTvSeasonAsync:
`Error converting value {null} to type 'TMDbLib.Objects.People.PersonGender'. Path 'episodes[0].crew[0].gender', line 1, position 181.`

It might have been due to a recent update, and it also seems like it only affects newer shows.

It can be fixed by specifying a custom serializer
`new JsonSerializer { NullValueHandling = NullV

[2017-06-18 20:18] Naliath commented on #220
Yea noticed some gender related changes in a previous issue. I'll take a peak tomorrow see if I can fix it in our processing.

[2017-06-18 20:27] Naliath commented on #220
Quick peek on my phone, figure best way is to simply make it nullable. Since well clearly it is on the api side of things :)

[2017-06-20 19:48] Naliath commented on #220
Sweating my ass off due to a nice heatwave we have going on, hence the delay. But I just added a new enum converter that the lovely Stackoverflow gods provided. With a few minor changes to get it to play nice with .NET Standard 1.2 it should now be ready to rock.

The tests seem to be running fine again so shortly a new version should be popping up on nuget.

I opted for this approach since we pro

[2017-06-20 19:48] #220 closed

[2017-06-20 21:12] LordMike commented on #220
Whew. Just feared for a moment they had added a ton of new genders.. :)
Seems like a good fix too. We won't be able to serialize 1:1, but that's probably fine in this case.

Good work @Naliath.

[2017-08-18 19:52] jojoba2010 opened #221 "Error"
ASP.NET MVC :

client.GetMoviePopularListAsync(); Error : Id = 6, Status = WaitingForActivation, Method = "{null}", Result = "{Not yet computed}"

client.GetConfig(); Error : Unexpected character encountered while parsing value: <. Path '', line 0, position 0.

[2017-08-19 00:48] LordMike commented on #221
Works fine here. Both fetching configs (`GetConfig`) and the popular movie list.

The value parsed there ("<") seems like it was HTML. Is it possible you're behind a proxy or are using a different base URL than the default one?

[2017-08-19 00:49] LordMike commented on #221
Note that it is entirely possible for this to be a transient error on TMDbs end.

[2017-08-19 07:33] jojoba2010 commented on #221
Thanks for reply ;
when i use this code in Asp.NET
client.GetMoviePopularListAsync();
i get  Error :
 Id = 6, Status = WaitingForActivation, Method = "{null}", Result = "{Not yet computed}"
but in windowsApp no error

[2017-08-19 10:31] LordMike commented on #221
Technically - that's not an error.. It's that the Task hasn't been startet yet.

Note that (almost) all methods on this API are async.

[2017-08-25 17:43] orangefrog commented on #146
Hi @LordMike,  I've just started building an application with TMDb integration and your library is making life very easy so thanks!  Is the region support for Showing/Upcoming movies on the road-map or do I need to roll my own methods for the time being?

[2017-08-25 20:56] LordMike commented on #146
If possible, you could make a PR for this library?

It should be relatively straightforward to add a new (optional) option to the upcoming API/methods. (remember to extend one or more unit tests :))

[2017-08-28 19:48] Naliath commented on #146
fixed in #issue-146 @LordMike can you review and merge?

[2017-08-28 22:56] LordMike commented on #146
@orangefrog the code contributed by @Naliath should cover your use case - could you try it out by referencing the TMDbLib project directly?

If all is well, I'll have a new version pushed to Nuget.

[2017-08-29 23:36] JamesMaxwel opened #223 "You have exceeded the maximum number of request allowed by TMDb please try again later"
I have received this error, even waiting for the necessary time.
e.g
` Dim Client = New TMDbClient("my-api-key")
 Threading.Thread.Sleep(10000) '10 seconds
Dim TvShow = Client.GetTvShowAsync("1399").Result
result in error "You have exceeded the maximum number of request allowed by TMDb please try again later"
`

[2017-08-30 02:39] JamesMaxwel commented on #223
I think I found the source of my problem

https://www.themoviedb.org/talk/59a5de3ac3a3684005013b59

[2017-08-30 08:01] LordMike commented on #223
Yea. Seems like it :D

What a way to enable IPv6 :D

[2017-08-30 08:01] #223 closed

[2017-08-31 14:33] fmilioni opened #224 "Discover movies missing region parameter"
How can I set the region when using the DiscoverMovies API?

This url below gives me about 450 results, but when I use TMDbLib this value goes up to 7800 results.

`https://api.themoviedb.org/3/discover/movie?api_key=xxxx&region=BR&primary_release_date.gte=2017-01-01`

Is the region option available or I'm doing it wrong?

[code]

[2017-08-31 14:52] Naliath commented on #224
discover is a different endpoint, I only added the region filter to the movie methods. So atm it is not available

[2017-08-31 14:56] #221 closed

[2017-09-07 20:10] sarathkcm opened #225 "Use compression for API calls"
Hi,

Thank you for such a comprehensive wrapper for TMDb. I find it very useful.

Would it be possible to set an "Accept-Encoding: gzip" header in the requests, may be as an optionally configurable feature? Sorry if this is already possible, as I couldn't find it documented anywhere.

[2017-09-07 20:13] sarathkcm commented on #225
There is a significant reduction in the response size with this header on.

![image](https://user-images.githubusercontent.com/14143311/30183152-fe653fa8-9436-11e7-940a-8b558679f652.png)

[2017-09-08 07:01] Naliath commented on #225
I'll take a look this weekend, if you are right there is no reason for us not to use this since the underlying .net component can deal with the unpacking.

Good job spotting it

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sarath Kumar CM <notifications@github.com>
Sent: Thursday, September 7, 2017 10:13:37 PM
To: LordMike/TMDbLib
Cc: Subscribed
Subject: R

[2017-09-09 08:20] Naliath commented on #225
from what I can tell the default of the client handler already specifies this so it should be ok...

![image](https://user-images.githubusercontent.com/795462/30238460-6c895908-9548-11e7-9da2-cf90b930d649.png)

[2017-09-09 08:35] sarathkcm commented on #225
Interesting!. For me, it's not added by default.

![image](https://user-images.githubusercontent.com/14143311/30238572-08900018-9567-11e7-8784-3fe1364fa954.png)

[2017-09-09 08:53] sarathkcm commented on #225
@Naliath Which version of .NET are you trying in? Could it be something related to [this issue in .NET Core 2](https://github.com/dotnet/corefx/issues/18646)?

[2017-09-09 16:28] RickySan65 opened #226 "reviewid"
How do i get a reviewid from a show?

[2017-09-09 16:56] RickySan65 commented on #226
Thought it found it, but didn't, passing show id to get review data (breaking bad) but nothing shows, any pointers what id to pass to GetReviewAsync?

[2017-09-10 16:59] LordMike commented on #226
https://developers.themoviedb.org/3/movies/get-movie-reviews

It would seem you need to pass the movies Id. Any Movie object should contain an Id - is this what you're after?

Note that Movies and Tv have different endpoints/methods - it's entirely possible you cannot get reviews by TV show/episode/ ..

[2017-09-10 17:00] LordMike commented on #225
Most likely is. As I read it, anything but netcore 1.x will /not/ use gzip by default.

[2017-09-11 06:02] Naliath commented on #225
Yea easy enough to set it, I'll throw it on later today. Unless you see any reason not to? I figure purpose of the lib is to get the data as efficiently as possible.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Bisbjerg <notifications@github.com>
Sent: Sunday, September 10, 2017 7:00:58 PM
To: LordMike/TMDbLib
Cc: Thomas Vriens; Mention
Subject: R

[2017-09-11 07:23] LordMike commented on #225
None at all. Give it a whirl.
Bonus: Have it as an option :)

[2017-09-11 16:32] RickySan65 commented on #226
i think you can't get them for tv shows, which is a bummer, but now it makes sense i'm not getting any data back :)

[2017-09-11 16:32] #226 closed

[2017-09-12 16:37] DutchJavaDev opened #227 "Downloading posters"
When i try to download posters from my favorite movie list i cant seem to download some of them like,
Batman v superman dawn of justice and some others, i have tried to get all the poster links for the poster i cant download and all off the links seem to fail for some reason.

**(Came a cross another bug: only applies for the wonder woman poster so far)**
When i download the wonder woman poster i

[2017-09-12 16:59] LordMike commented on #227
Are you successfully getting the image id's and giving them to the image url ... builder?

[2017-09-12 17:09] LordMike commented on #227
var mov = client.GetMovieAsync(297762, "en").Result;

            var urlB = client.GetImageUrl(client.Config.Images.PosterSizes.Last(), mov.BackdropPath);
            var urlP = client.GetImageUrl(client.Config.Images.PosterSizes.Last(), mov.PosterPath);

I've tried the above, and I get these two respectively:

* http://image.tmdb.org/t/p/original/6iUNJZymJBMXXriQyFZfLAKnjO6.jpg
* http://image.tm

[2017-09-12 18:23] DutchJavaDev commented on #227
Thanks hacker-man!

When i could not download some posters in the first place i tried to get all the poster links for each movie hoping it would find at least one downloadable image, but instead i got like 35 to 216 failed attempts (WebExceptions) to download one of the posters using .Net WebClient.

Thanks it works now 👍 (Great library)

[2017-09-12 18:40] Naliath commented on #225
aight branch with the fix is up so give it a go and check if this fixes it for you since I can't test it for you :)

[2017-09-12 19:41] sarathkcm commented on #225
Yup, works. Thanks.

[2017-09-12 20:19] LordMike commented on #227
Do you know where you went wrong?.. I'd be happy to update documentation etc. :)

[2017-09-13 09:11] DutchJavaDev commented on #227
This what i was using when i started using the library and to me i thought this should just work,
but i failed like i said above on some movies.

[code]

[2017-09-13 11:18] LordMike commented on #227
It's odd.. Given that `w500` is in the list of accepted poster sizes (I assume it is), every poster *should* have that size present..

It could be an issue on TMDb's end.

[2017-09-13 11:24] Naliath commented on #227
I must say I have had strange issues with posters before. Leave this issue open I will check my own logs and see if I can reproduce your issue and narrow down the possible error. (won't be for a few days though)

[2017-09-14 17:39] DutchJavaDev commented on #227
Well after i implemented
[code]
it has been working fine but now a few days later its back again, i think u where wright that it might be on the side of Themoviedb.org.

Here is a list of movies on which my application failed to download the poster's in case you want to try it out. #(These where just to test my Favorite Movies list on Themoviedb.org)#
[code]

[2017-09-14 20:06] LordMike commented on #227
I tried just now with Thor (76338):

[code]

Avengers (99861)
[code]

I'm really not seeing what you are.

Code for reference.

            var mov = client.GetMovieAsync(99861, "en").Result;

            foreach (string size in client.Config.Images.BackdropSizes)
            {
                var url = client.GetImageUrl(size, mov.BackdropPath);
                var resp = new HttpClient().GetAsyn

[2017-09-15 15:43] DutchJavaDev commented on #227
I am using this and for some reason it got the error back, might be in my code because i tried the above code before trying to download the poster and i got the same result like you did but when i try to download an poster some of them fail, going to spend a lot of time to figure out why this is happening.
[code]

[2017-09-15 21:29] hgirma opened #229 "EventSourceException errors"
Hello,

I'm seeing a lot of errors similar to the following after making a simple call.

EventSourceException while processing event "TaskWaitEnd"
EventSourceException while processing event "AwaitTaskContinuationScheduled"

for example.

await _tmdbClient.GetTvEpisodeAsync(1005, 1, 1);

[2017-09-15 22:38] LordMike commented on #229
That specific query gives an HTTP 404, so that might contribute to any error you're seeing.

I haven't seen those before though. How do you call the methods - in which context?
Could something be messing with the async flow?

[2017-09-16 00:03] hgirma commented on #229
sorry, that was just an example

Below is a simulation of what happens in my app, I call it 4 times in rapid succession. Here is what I did, just to make sure there are no threads etc..  I am using VS 2017 15.3.3 (WinForm .NET 4.7)
TMDblib v1.0.0.0

        async void button1_Click(object sender, EventArgs e)
        {
            TMDbClient client = new TMDbClient("key");
            client.GetCo

[2017-09-16 01:00] LordMike commented on #229
Could you try against `1.0.7-alpha` ?

[2017-09-16 01:34] hgirma commented on #229
Same result. Were you able to reproduce on your end? It's possible that something is off on my machine, it's a rather strange error without any exception details. It may not be the library at all.

[2017-09-18 08:25] LordMike commented on #229
I wasn't. Try looking up the exception type on google.

I did that, and found a bunch of different places where people were talking about it - but there wasn't any concrete indication of why it came as I saw it. You might have a better chance though.

[2017-10-02 13:42] #227 closed

[2017-10-02 13:45] Naliath commented on #227
just in case you need something to clean the names

        /// <summary>
        /// Removes all invalid characters from a path/file name string and returns the cleaned string value.
        /// All invalid characters are simply removed, no new characters are inserted
        /// </summary>
        /// <param name="path">string to rid of invalid characters</param>
        /// <returns>cleaned str

[2017-11-13 16:20] neckaros opened #230 "Request tv show and episode by imdbId"
Hello,

as of now for TvShow and Episode we can only send int as id. Therefore we cannot request by imdbId.
It will be great to have the choice like for movies.

Thanks for the great library!

[2017-11-13 16:36] Naliath commented on #230
Does the api support this? It did not before, only for movies

[2017-11-13 16:47] neckaros commented on #230
You are right! sorry i saw that you were passing imdbid at the same api endpoint for movie and i wrongly assumed it would work for show also.
But i tried it with the api doc and i confirm that it does not work.
Thanks for the quick reply and sorry!

For future reference the recommended solution by Tmdb is to do a search:
[code]

[2017-11-13 17:04] #230 closed

[2017-11-13 19:46] Naliath commented on #230
Np, the movie endpoint using imdb is actually a hidden feature since the spec does not specify it ;)

[2017-11-24 19:29] TWhidden opened #231 "Async Functions with overload CancellationToken passed?"
Any chance a future version will be able to take a CancellationToken on the Async ops?  This way if a user is waiting on an operation, and they want to cancel it, it will stop it? I know it returns a Task<Type> on those functions, and you are leaning on the .Result for many of the functions.  This way you can pass the token all the way down the stack. Following your source, it seems like it could

[2017-11-24 19:30] TWhidden commented on #231
` try
            {
                var client = new TMDbClient(Settings.Default.TMDbApiKey));
                var token = await client.AuthenticationRequestAutenticationTokenAsync(taskCancelationTokenSource.Token);
            }
            catch(TaskCanceledException t)
            {
                // Ignore, Task was canceled.
            }
            catch(Exception ex)
            {

[2017-11-24 19:33] Naliath commented on #231
What would you expect on cancelation? The only place we really wait is when we call the actual api so I guess a cancelation could ignore the result. I figure it would be easier to just kill the taks in the consuming application, that would have an immediate result

[2017-11-24 19:51] LordMike commented on #231
In principle we should pass it on to HttpClient. It will then be able to cancel the network stuff, rather than just having it spew thread aborts or similar.

[2017-11-24 19:52] LordMike commented on #231
It would allow us to have timeouts out of the box, but just passing a TaskCancellationSource with a cancelafter... :)

[2017-11-24 19:52] #229 closed

[2017-11-24 19:59] Naliath commented on #231
Should not be too hard, just a bunch of overload to add

[2017-11-24 20:05] LordMike commented on #231
Yea. I've begun work on it.

[2017-11-24 22:03] TWhidden commented on #231
Sweet.   Yea, you can pass that token all the way to the HttpClient.  Let the caller handle the TaskCanceledException.  One of my fav parts of the Task Library.

[2017-11-24 22:07] TWhidden commented on #231
public Task MyMethod(**CancellationToken t = default(CancellationToken)**)
        {
            return Task.FromResult(0);
        }

Use that on all your normal calls. no need to create new methods.   The compiler will handle creating the overloads for you.

[2017-11-24 22:10] TWhidden commented on #231
@LordMike  -- Totally forgot about the extra benefit of the timeout.  Yes, that will keep a UI from waiting for some other timeout within the API (bad internet connection, bad dns, etc).

[2017-12-15 14:49] gabiionut opened #233 "How to use DiscoverMoviesAsync method"
I want to get images of movies ordered by popularity but I don't know what to do with the data returned by this call `client.DiscoverMoviesAsync().OrderBy(DiscoverMovieSortBy.Popularity);`. It seems that the data type returned is `DiscoverMovie` so I can't use `GetImageUrl` method. Can you show me how to use `DiscoverMoviesAsync` method ?

[2017-12-15 18:09] LordMike commented on #233
The Discover method is different from the rest, because adding all its options in one long method definition would be extremely hard to use.

Once you've constructed your DiscoverMovie object by setting all the filtering options you need, you perform the actual search by running `<DiscoverMovie object>.Query()`.

:)

[2017-12-15 18:10] amoraitis opened #234 "We could mark objects as Srializable"
I use this library to search for movies for a bot(BotBuilder), so i need the objects to be serializable.

- [ ] You can asign this to me.

[2017-12-15 18:48] LordMike commented on #234
What, like BinarySerializer serializable?

[2017-12-15 18:54] amoraitis commented on #234
Like [C#'s serializable](https://docs.microsoft.com/en-us/dotnet/api/system.serializableattribute?view=netframework-4.7.1&viewFallbackFrom=netstandard-1.2)

[2017-12-15 18:58] LordMike commented on #234
It's my impression that if I change anything in the models, the serialized objects won't be deserializable ... at least in some form..

https://stackoverflow.com/questions/30240486/how-much-does-a-class-object-have-to-change-in-order-for-binary-deserialization

I can't guarantee the models in any form. Maybe they'll get new fields or miss some, or even change the order of their properties.. Any of

[2017-12-15 19:07] LordMike commented on #234
Reading about BotBuilder, it seems that its using it to store state between two messages - is this correct?

If it's ephemeral storage, as in, just temporary storage between two messages - these problems above probably don't apply to you. However, if it's persistently stored on disk for a longer period, you might run into these issues.

[2017-12-16 19:42] amoraitis commented on #234
@LordMike Thanks for your time! I will try to create my own requests and classes and deserialize jsons

[2017-12-16 19:42] #234 closed

[2017-12-18 21:58] #233 closed

[2017-12-18 22:05] gabiionut opened #235 "GetMovieAsync returns empty object"
When I used `GetMovieAsync ` I noticed that for some movie IDs it returns an empty object.
This is an example: `var movie = client.GetMovieAsync(230).Result;`
Is this methond valid only for some movies or what is the problem ?

[2017-12-18 22:26] LordMike commented on #235
That's entirely true. For that specific ID, TMDb returns HTTP 404 - but we parse it anyways.

[2017-12-18 22:27] LordMike commented on #235
As a workaround, you can verify that the ID returned is the one you requested - but for now, it's a bug.

[2018-01-03 20:31] bbougot opened #236 "Use Async/Await for GetConfig method"
https://github.com/LordMike/TMDbLib/blob/2e90311a528182adb13fc1a6aa1683893aa47a50/TMDbLib/Client/TMDbClient.cs#L168

[2018-01-03 20:51] LordMike commented on #236
... there was a reason why this wasn't `async`... I fail to recall right now though.

[2018-01-03 21:14] Naliath commented on #236
I figure it might cause issues since you need to config to do anything else. This can be mitigated though by just directly awaiting it. So I guess we can change it and see if something explodes?

Thing is that in essence this is a sync method no mather how you turn it. It also does not return a result itself. So perhaps this just needs to be redesigned?

Get Outlook for Android<https://aka.ms/ghei

[2018-01-03 22:40] LordMike commented on #236
Perhaps turn it into a `GetConfigIfNeeded` that is awaitable, which will check if a cached one is present. Any method needing will just call this with await, and await the result..

This is internal. Then externally, we'll present a `GetConfig` that does just that.

As a bonus, we could then _copy_ the result of a `GetConfig` call into our cache.

[2018-01-07 14:45] Starwer opened #237 "How to get movie genres by id"
Hi,

This question was asked in #154, but the answer didn't fully meet the requirement IMHO, at least not mine.
I just take the snippet from @Max45 at that time:
`SearchContainer result = client.GetMovieList(MovieListType.Popular, "en");`
 `foreach (MovieResult movie in result.Results)`
` {`
`     List data = movie.GenreIds;`
`     var IdGenres = string.Join(",", data);`
`     Console.WriteLine(mo

[2018-01-08 15:36] LordMike commented on #237
Isn't the `GetMovieGenresAsync` what you're after? (https://github.com/LordMike/TMDbLib/blob/master/TMDbLib/Client/TMDbClientGenres.cs#L36)

It provides `Genre` objects which are Id/Name pairs: https://github.com/LordMike/TMDbLib/blob/master/TMDbLib/Objects/General/Genre.cs

[2018-01-08 18:19] Starwer commented on #237
Hi LordMike,

Thanks a lot! This indeed works and fully answer my question.

[2018-01-09 10:25] DanCooper opened #238 "Collection.Overview isn't decoded"
Looks like Collection.Overview is not decoded: https://i.imgur.com/MZnVWpr.png

Collection.Name is fine.

[2018-01-09 14:10] #237 closed

[2018-01-09 14:32] LordMike commented on #238
I can't immediately find anything where we HTML Encode. So I assume it's HTML Encoded from TMDb's side.

Ugh. That's tough. In principle an API shouldn't return anything-encoded.. @Naliath should we HTML Decode here? What if TMDb changes their ways? - we'll potentially double-decode :O

[2018-01-09 14:33] LordMike commented on #238
We do HTMLDecode already in Movies. So we could probably just extend the hack.

https://github.com/LordMike/TMDbLib/blob/856b1584d540c9442d3c921e80ced2b5cf04d83c/TMDbLib/Client/TMDbClientMovies.cs#L128

[2018-01-09 14:46] Naliath commented on #238
Perhaps we should report this, it does indeed seem strange that we get that back. The hack is not the worst thing and since we already do it for one, why not the other.

[2018-01-09 15:52] DanCooper commented on #238
Check this thread, looks like we have already discussed that:
https://www.themoviedb.org/talk/564ae26bc3a3686031002638

[2018-01-09 16:26] LordMike commented on #238
Do the hack.

[2018-01-13 07:52] sjmohanta opened #240 "How to check if request limit is exceed"
Sometimes whiles requesting for a movie information from production i am getting error but while trying to request same from development i donot get this issue.

The above issue also gets resolved after some times. So, i suspect that it has t do with the request limit which is 40 requests/10 sec. It would be sufficient for my usage, also some times it takes hours to return data.

I want to know th

[2018-01-14 18:09] LordMike commented on #240
You can see the current ratelimit-handling code here:
https://github.com/LordMike/TMDbLib/blob/fec9e03945343c9f2440cc965488ebda12a0d32c/TMDbLib/Rest/RestRequest.cs#L216-L228

The library should try to resolve rate limits by retrying stuff up to `MaxRetryCount` times. If it fails, you'll get a `RequestLimitExceededException`. We could extend the `RequestLimitExceededException` with the parameters g

[2018-01-15 17:48] sjmohanta commented on #240
Thanks for the reply.

Interestingly i have never got the above error message in my exception logs while checking for the error so far.

I don't have any new error logs since yesterday (when i cleared the error logs). I will post the error details once i get the issue again.

[2018-01-15 18:11] LordMike commented on #240
Hmm. Maybe you (or we) have something that swallows it?

I can see something else wrong though. We should keep the HttpClient object for longer periods than one request, to make use of its features reg. keeping HTTP connections alive.

[2018-01-15 18:15] LordMike opened #241 "Keep HttpClient between multiple requests"
Each HttpClient wil use its own connection pool. In our code, we use each HttpClient once, leading to cases where we may be abusing resources at TMDb and locally.

The HttpClient should be set in the Clients space and then used from there on each request.

[2018-01-15 19:00] #231 closed

[2018-01-15 19:05] #238 closed

[2018-01-15 19:15] #146 closed

[2018-01-20 13:29] LordMike commented on #200
TMDb has implemented methods for this.

[2018-01-20 15:55] sjmohanta commented on #240
Got the error again today.

Message: The method or operation is not implemented.
Stack Trace:

It worked again after some time though but no message indicating request limit exceed.

I am using it like

`var res = await client.GetMovieAsync(imdbId: imdbId, extraMethods: TmDbObj.MovieMethods.Credits)`;

Which is called from action method. Am i missing something?

[2018-01-20 16:27] LordMike commented on #240
Are you using an old version of the library?

https://github.com/LordMike/TMDbLib/blob/37ceaab6b75d2189d80f4a0944061b83cfdc1bb1/TMDbLib/Client/TMDbClient.cs#L92-L97

This code is obsolete. It should be removed, but it is not used inside the library. If you're calling the `RetryWaitTimeInSeconds` property anywhere in your code, that is where the bug is.

[2018-01-20 16:28] LordMike opened #245 "Remove obsolete code"
See #240

[2018-01-21 12:38] #225 closed

[2018-01-21 12:39] LordMike commented on #194
Also, HTTP 404 on GetMovie (#235)

[2018-01-21 12:39] LordMike commented on #182
Related #235 #194

[2018-01-21 15:57] sjmohanta commented on #240
Yes, this was the issue. I was trying to read wait time on error.

[2018-01-22 16:31] scavarda commented on #87
I can't find any client method for "http://api.themoviedb.org/3/configuration/jobs"
Where is it?
tnx

[2018-01-22 16:41] scavarda opened #249 "JsonProperty for Job object"
Please check if this is correct

https://github.com/LordMike/TMDbLib/blob/049fba9f720acf21534ae8d2f4dca7a375586cb8/TMDbLib/Objects/General/Job.cs#L11

Shouldn't it be "jobs" instead of "job_list"?

[2018-01-22 20:06] LordMike commented on #249
It does look like it should be `jobs` (https://developers.themoviedb.org/3/configuration/get-jobs-1)

[2018-01-22 20:22] LordMike commented on #87
It's entirely possible that method is completely new. In #200, we asked TMDb, and the just recently replied back that they now have methods for languages etc. They lie in the same namespace as Jobs.

[2018-01-22 20:24] LordMike commented on #240
Heh. I've removed the code now (pending merge). Once merged I'll release 1.2.x (because, API change). It also exposes the retry-after values inside the retry exception.

[2018-01-24 19:39] Hyperz commented on #241
Wouldn't the correct way be to have the TMDbClient constructor take a HttpClient instance? From what I've read there's only supposed to be 1 application-wide instance of HttpClient so in that case it doesn't make sense to have 3rd-party libraries create their own instances. Or am I missing something?

[2018-01-24 20:01] Naliath commented on #241
Nah having 1 for the lib is fine. You want one per target, else you risk header colisions and other strange business

[2018-01-24 22:38] LordMike commented on #241
Accepting a client from the outside would make sense if we wanted to leave all control of f.ex. handlers and default headers to the caller. But all docs would say "new HttpClient()" (or use defaults, which is a new client), both for simplicity (very few would use the option) - and as @Naliath said, we'd risk all kinds of things.

The main goal of sharing a HttpClient is to maintain persisted conne

[2018-01-25 18:17] #236 closed

[2018-01-25 18:17] #241 closed

[2018-01-25 18:17] #245 closed

[2018-01-25 18:20] #249 closed

[2018-01-28 16:46] FrederikBolding opened #254 "Removal of Freebase and TVRage services"
As they aren't available anymore, we might as well remove support from the library

[2018-02-01 19:47] #224 closed

[2018-02-01 19:48] #254 closed

[2018-02-07 19:02] FrederikBolding opened #259 "Find can return two types of 'known-for' objects"
As defined here: https://developers.themoviedb.org/3/find/find-by-id

How would we solve that?

[2018-02-08 13:40] FrederikBolding commented on #259
Nevermind, I misunderstood. We're already handling that :)

[2018-02-08 13:40] #259 closed

[2018-02-08 13:53] FrederikBolding opened #260 "TV show "created by" gender is inconsistent"
It's behaving weirdly at the moment. I've opened a thread at TMDb: https://www.themoviedb.org/talk/5a7c5637c3a3680f9400ec04

[2018-02-12 17:31] FrederikBolding opened #261 "GetGenreMovies is deprecated"
As said here: https://developers.themoviedb.org/3/genres/get-movies-by-genre

Should we just throw it out for the next version then?

[2018-03-03 20:33] hgirma opened #262 "await _tmdbClient.GetPersonAsync(x) results in A task was canceled"
System.Threading.Tasks.TaskCanceledException: A task was canceled.
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Net.Http.HttpClient.<FinishSendAsyncBuffered>d__58.MoveNext()
--- End of stack trace from previous location where exception was thrown ---

[2018-03-03 21:04] LordMike commented on #262
This is likely a timeout. Are you experiencing long response times?

[2018-03-03 21:08] hgirma commented on #262
No not really, but it happens sporadically. Not sure how to handle it gracefully.

[2018-03-03 22:15] LordMike commented on #262
It's most likely a timeout. The library should attempt retries to a certain extent (https://github.com/LordMike/TMDbLib/blob/master/TMDbLib/Rest/RestRequest.cs#L194-L236). You can attempt to raise the `MaxRetryCount` from 0 to something more.

[2018-04-12 04:35] devbrian opened #263 "Any Chance of adding v4 list support?"
Would love v4 list support, as you can add many movies to a list at a time.

https://developers.themoviedb.org/4/list/update-items

[2018-04-12 04:58] devbrian opened #264 "Adding Language filtering for Discover Movies"
Would be great to add the language parameter to movie filtering.

[2018-04-12 08:53] LordMike commented on #264
Great. I just merged in a region-selecting option from @FrederikBolding -- could someone make the same changes as in #257, but for languages?

[2018-04-12 08:55] LordMike commented on #263
.. I suppose we should get started on the V4 client.

[2018-04-12 09:08] LordMike commented on #261
Mark it as obsolete.

[2018-04-13 11:21] #2 closed, assigned to nobody

[2018-04-13 11:22] #21 closed, assigned to nobody

[2018-04-13 11:27] LordMike opened #267 "Investigate OAS/Swagger generation of client"
On the V4's documentation page, there are links to OAS / RAML specs for the API. We could generate a lot of code from these specifications, and then code the few differentiations there are for an actual client (overloads and whatnot) -- I imagine we'll also encounter cases where two responses/requests use the same object, but where the spec specifies different objects.

However, currently (was als

[2018-04-13 20:02] D4N3-777 opened #268 "NotImplementedException when serializing a collection of SearchMovie"
When I try to serialize a collection of SearchMovie i get this exception.

Partial stacktrace:
`{System.NotImplementedException: The method or operation is not implemented.
   at TMDbLib.Utilities.Converters.SearchBaseConverter.WriteJson(JsonWriter writer, Object value, JsonSerializer serializer) in E:\Mike\Projects\TMDbLib\TMDbLib\Utilities\Converters\SearchBaseConverter.cs:line 55
   at Newtonso

[2018-04-13 20:05] D4N3-777 commented on #268
i see the issue is fixed in the latest pre-reelease v1.1.0-alpha. I'll move away from using the nuget version.

[2018-04-13 20:29] LordMike commented on #268
You could use that specific version :)

Also - there is a 1.2.0-alpha out.

[2018-04-13 20:29] #268 closed

[2018-04-19 16:56] DanCooper opened #269 "Error converting value {null} to type 'System.Int32'"
I get this error if I try to get the season 1 details with credits in tv show (ID 62264):

`Error converting value {null} to type 'System.Int32'. Path 'credits.crew[0].id', line 1, position 10122.`

Used code:
`GetTvSeasonAsync(62264, 1, TMDbLib.Objects.TvShows.TvSeasonMethods.Credits Or TMDbLib.Objects.TvShows.TvSeasonMethods.ExternalIds)`

On the TMDB API test website no one of the "crew" entrie

[2018-04-19 17:29] LordMike commented on #269
Seems like a TMDb issue. I would expect these objects to always have an ID.

[2018-04-19 17:30] DanCooper commented on #269
Ok, then a will add a new ticket to the TMDB API support.

[2018-04-19 17:31] DanCooper commented on #269
Oh, just seen that there already is one: https://www.themoviedb.org/talk/5ad886080e0a264330010bbd

Thx, I think you can close this one.

[2018-04-19 17:32] LordMike commented on #269
According to the API documentation, every single thing in that response is optional...

![image](https://user-images.githubusercontent.com/1027111/39008252-72f5652e-4408-11e8-820d-59c0f259f7e2.png)

[2018-04-19 17:34] LordMike commented on #269
Oh i see.. "or null". Right. Wonder what the optional thing means.

[2018-04-19 17:36] DanCooper commented on #269
No idea why all fiields are optional. But the ID can only be "integer" and it's "null" in my case. Looks like a new issue, never get this before.

[2018-04-19 17:37] LordMike commented on #269
Seems like the three other guys in the thread have all been hit just now. Could be general thing.

[2018-04-22 10:53] LordMike commented on #269
@DanCooper see update on TMDb Talk.

[2018-04-23 17:00] #269 closed

[2018-05-28 18:28] Afy65 opened #270 "GetMoviesAsunc issue"
Hi
I get the error below a fair bit form using the following:

[code]
Newtonsoft.Json.JsonReaderException: 'Unexpected character encountered while parsing value: <. Path '', line 0, position 0.'

Perhaps you could shed some light in this for me

Many Thanks

Daniel

[2018-05-28 18:47] LordMike commented on #270
Sounds like a HTML response to me. Maybe TMDb had a failure on their end.

[2018-05-28 18:52] Afy65 commented on #270
Maybe they have some problems because it is doing all over the application that I am writing now? Even where that part of the app is finished and has worked great before.

[2018-05-28 20:01] LordMike commented on #270
Yea. It does look like it would be html - so their gateway or front end is spewing out errors instead of api responses.

I would make a ticket with tmdb asking about it and asking if they could deliver a Json error instead of html.

Mike.

________________________________
From: Afy65 <notifications@github.com>
Sent: Monday, May 28, 2018 8:52:10 PM
To: LordMike/TMDbLib
Cc: Michael Bisbjerg; Comment

[2018-06-02 03:02] Bitgamey opened #271 "In KnownForBase class, Title is missing"
Since Title is missing, I am unable to retrieve the title when sending an actor's name and needing to access what they are 'known_for'.

public abstract class KnownForBase
    {
        protected KnownForBase();
        public string BackdropPath { get; set; }
        public List<int> GenreIds { get; set; }
        public int Id { get; set; }
        public MediaType MediaType { get; set; }

[2018-06-03 21:43] LordMike commented on #271
Please submit a PR. :)

[2018-06-06 13:31] Afy65 opened #273 "Possible Omissions?"
Hi please do correct me if I'm wrong :)

Should `GetNetworkAsync` in TVShows? not return the following?
https://developers.themoviedb.org/3/networks/get-network-details

Also these two methods seem to be missing as well for Networks?
https://developers.themoviedb.org/3/networks/get-network-alternative-names
https://developers.themoviedb.org/3/networks/get-network-images

Love the work you have don

[2018-06-06 19:22] LordMike commented on #273
They might be - if you're missing anything, you're more than welcome to submit PR's for it.

[2018-06-14 10:09] FrederikBolding commented on #273
Added a PR for it 😄

[2018-06-14 10:21] FrederikBolding commented on #271
This isn't true, not every `KnownFor` object should have a title. TV shows have `name` instead of `title`, while movies have titles. It's present on the `KnownForMovie` object, which the library is casting to 😄 .

Is there a specific instance in which you're not receving the casted object? I just tested with `GetPersonListAsync`, which worked correctly.

[2018-06-14 10:33] FrederikBolding commented on #182
@LordMike Are you considering doing something else or should we maybe go ahead and add something along the lines of what you suggested earlier in this thread? - It seems to me that throwing exceptions, even while a cumbersome task in regards to testing, is quite important for the overall quality of the library?

[2018-06-14 12:05] LordMike commented on #182
Yea. The approach on returning Null's for not founds, and exceptions when other errors happen, is the way to go.

Additionally, a "ThrowOnNotFound" property (or better named) could control whether Not Found objects should throw a matching NotFoundException.

[2018-06-19 16:48] FrederikBolding commented on #273
This can be closed when #274 has been merged.

[2018-06-19 16:50] FrederikBolding commented on #270
Could possibly be fixed with #194

[2018-06-21 02:25] ghost opened #276 "How to Set include_image_language in GetMovieAsync"
could anyone provide an example of how to set `include_image_language = en,null `in
`Movie movie = client.GetMovieAsync(47964, MovieMethods.Images);`

[2018-06-21 13:46] LeagueOfAimtec opened #277 "TVShow"
Can you help me about C# codes of these acoording to your library ?
I want to get these data of TV Shows:

Name
Year
Number of episodes
Genres
Network
Summary
Poster
Number of Sesons
Name of Episode
Released time of Episode
Summary of Episode
Which season and which episode number
Rating episode and tv show

[2018-06-21 22:09] LordMike commented on #277
You should be able to do something similar to whats on the front-page for Movies, for TV Shows.

[code]

Use the GetTvShow and similar methods.

[2018-06-21 22:09] #277 closed

[2018-06-21 22:10] LordMike commented on #276
I don't believe it's possible to specify that kind of language.

You can submit a pull-request to implement an option though :).

[2018-06-22 09:50] LeagueOfAimtec opened #278 "How to get ?"
How to get genres of TVShow and how to get all names of episodes in particular season.

[2018-06-22 12:36] LordMike commented on #278
You'll have to go explore the API. We pretty much one-to-one map the official API docs, found here https://developers.themoviedb.org/3.

Find what you need in there, and then go to our client and find the relevant methods.

[2018-06-22 12:36] #278 closed

[2018-06-22 14:13] LeagueOfAimtec commented on #278
You are not helpfull

[2018-06-22 14:17] Naliath commented on #278
The info is there, it simply requires some effort on your part. There are examples in the test project and the unit tests if you need code examples

[2018-06-22 14:35] LordMike commented on #278
Most of the library can be explored by using Intellisense in Visual Studio for example. Code completion on f.ex. the client will show you all the methods we have, most of them are self-explanatory.

Simply writing `client.Tv` should show you stuff like `GetTvShow`.

[2018-06-23 12:26] #276 closed, assigned to nobody

[2018-06-23 13:42] LeagueOfAimtec opened #280 "Error:System.ArgumentOutOfRangeException"
[code]

I have error in this line `for (int episodeNumber = 1; episodeNumber <= seasons[seasonNumber].EpisodeCount; episodeNumber++)`
Error:System.ArgumentOutOfRangeException
WHAT SHOULD I DO ? I haven't error for game of thrones. I have error for Stranger things and La casa de papel

[2018-06-23 14:08] LordMike commented on #182
Fixed in #275 - set the `ThrowApiExceptions` option on the client.

[2018-06-23 14:08] #182 closed

[2018-06-23 14:09] LordMike commented on #194
Fixed in #275 - error handling has been streamlined

[2018-06-23 14:09] #194 closed

[2018-06-23 14:09] LordMike commented on #235
Fixed in #275 - error handling has been streamlined, see the new `ThrowApiExceptions` option.

[2018-06-23 14:09] #235 closed

[2018-06-23 14:10] LordMike commented on #270
Fixed in #275 - we should longer try to process HTML responses.

[2018-06-23 14:10] #270 closed

[2018-06-23 14:11] LordMike commented on #280
Note: I've updated your post with code tags, so we can read the code.

[2018-06-23 14:16] LordMike commented on #280
Do you know which season was picked in the combobox?

A fun thing about the API is that for GoT the NumberOfSeasons will be 7, while the list of Seasons will contain 8 items.

[2018-06-23 14:34] LeagueOfAimtec commented on #280
yes
seasonNumber = Int32.Parse(Regex.Match(comboBox1.SelectedItem.ToString(), @"\d+").Value);
selected item like Season 1,  Season 2 etc.

[2018-06-23 17:46] LordMike commented on #280
I'm not sure you can do it like that. The list of seasons is not necessarily mappable like that.

F.ex., Game Of Thrones will have these seasons:

* [0] => Specials
* [1] => Season 1

So there it works. But Stranger Things has it like this:

* [0] => Season 1
* [1] => Season 2

So here it doesn't work.

Remember. Indexes in arrays are 0-based.

[2018-06-23 18:10] #273 closed

[2018-06-23 23:41] #280 closed

[2018-06-25 08:43] FrederikBolding commented on #271
If this was simply a misunderstanding this can be closed.

[2018-06-25 10:52] #271 closed

[2018-06-27 13:20] LeagueOfAimtec opened #281 "Get Account Favorites TVShows"
` private void GetFavoritesTVShows()
        {

                Config.Client.SetSessionInformation(Config.UserSessionId, SessionType.UserSession);
                var favorites =Config.Client.AccountGetFavoriteTvAsync(1).Result;
                var resultss = favorites.Results;
                foreach (var searchTv in resultss)
                {
                    MessageBox.Show(searchTv.Name);

[2018-06-27 16:44] LeagueOfAimtec commented on #281
`

[code]

I made it finally :)

[2018-06-27 17:31] LordMike commented on #281
Are you trying to use the Testing code somewhere else?

[2018-06-27 18:21] LeagueOfAimtec commented on #281
No I was trying to figure out account things :)

[2018-07-05 20:37] codirx opened #282 "Can you interpret my project which based on TMDBLib ?"
https://github.com/codirx/Seriem

What are the deficiencies ?
Do you have suggestions to improve ?
Thanks for writing this project 👍

[2018-07-07 13:38] #282 closed

[2018-07-27 00:25] FrederikBolding opened #284 "Update Nuget version"
Hi @LordMike,

Could we update the nuget version to include some of the changes we've made since the last update?

[2018-07-28 19:49] LordMike commented on #284
Done #285

[2018-07-28 19:49] #284 closed

[2018-10-09 14:02] jason2li opened #286 "Add the ability to search trending movies"
I love this project, but it would really help if we could get the trending movies.

[2018-10-09 14:18] FrederikBolding commented on #286
Thanks for the report - I can add this whenever I have time (within a day or two) 😄

[2018-10-09 14:19] jason2li commented on #286
That would be great!  Thanks so much!

[2018-10-09 15:36] LordMike commented on #286
Allternatively, @jason2li, submitting a PR is always the fastest way to add new features :)

[2018-10-09 15:43] FrederikBolding commented on #286
Haha, yes, indeed @LordMike 😆